
/*
File:               about.css
Author:             Federico Levis
Last Modification:  Mar 2016   
Description:        CSS for JSU core JS

DISCLAIMER
Copyright by Federico Levis http://federicolevis.wix.com/cognos Cognos Tips & Solutions
All rights reserved: UNAUTHORIZED COPYING, REPRODUCTION, REPUBLISHING, UPLOADING, POSTING, TRANSMITTING OR DUPLICATING IS PROHIBITED
*/


/* ================================   About ========================================================== */


.jsuAboutTitle, .jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 100px;
}	

.jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 80px;
} 


/*  Jsu About Title  */
.jsuAboutTitle {
  align: center;
}

/*  Jsu About Image: Just */
.jsuAboutJust{
  align: right;
}
/*  Jsu About Image: Simple */
.jsuAboutSimple{
  align: center;
}
/*  Jsu About Image: Use */
.jsuAboutUse{
  align: left;
}


/* About  */
table.jsuAbout
{
  color: #000000; /* Black */
  border: 3px ;   
  border-style: groove;
}


tr.jsuAbout, tr.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 2px ;
  border-top:solid;   
  border-left:solid;   
  border-right:solid;   
  border-bottom:solid;   
}


/* About Msg */
tr.jsuAboutMsg
{
  background-color: #E5F9FD;  
}


/* About Msg */
table.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 0px ;
  background-color: #E5F9FD;  
}

.jsuAboutHea, jsuAboutFooter
{
}

/* Used in Sample */

label.aboutTitleJSU{
  margin-left: 100px;
}


label.aboutAuthor{
  margin-left: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

/* Label near tip  */
label.aboutSource, label.aboutSourceJSUAPI{
  margin-top: 20px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: blue;
}
/* Like .jsu in jsu-github.js */
label.aboutSourceJSUAPI{
  background-color: #CCFFFF;   
}


