
/*----------------------------------------------------
Tooltip: Tip with info image
---    
<b>CSS:</b>  ``input.jsuInfo``  used with JSU Tooltip API Tip() UnTip()  
   - <b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>
<BR/><BR/><b>Examples:</b>
```html
<input class="jsuInfo" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"/>
```
*/
input.jsuInfo{ /* Info img  */
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/info.png') no-repeat center center;
  background-color: #19E4DD;
  height: 14px;
  width: 5px;
  margin-left: 2px; 
  cursor: pointer;
  border: 1px solid #000;
}



/*---
Tooltip: Tip with info Question Mark
---
<b>CSS:</b> ``img.jsuTip`` ``input.jsuTip``  usually used with JSU Tooltip API Tip() UnTip()  
   - <b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>
<BR/>For cross browser compatibility we recommend using input.jsuInfo. img.jsuInfo can be used  only in IE. 
<BR/><BR/><b>Examples:</b>
```html
<input class="jsuTip" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"/>
```

*/
img.jsuTip, input.jsuTip{
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/tip.png') no-repeat center center;
  height: 20x;
  width: 20x;
  marging-left: 5px;
}





/*---
Tooltip: button for TipFix 
---
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>

```html
<b>JSU Tip button :</b> <ul>
 <li> tipFix button with '?' and Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFix</b>  <input type="button" class="tipFix"/> &nbsp;&nbsp; 
     <b>input.tipFixUp</b>  <input type="button" class="tipFixUp" />
 </li><BR/>
 <li> tipFix button with 'JS' and Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFixJS</b>  <input type="button" class="tipFixJS"/> &nbsp;&nbsp; 
     <b>input.tipFixJSUp</b>  <input type="button" class="tipFixJSUp" />
 </li><BR/>
 <li> tipFix button with 'Code' and Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFixCode</b>  <input type="button" class="tipFixCode"/> &nbsp;&nbsp; 
     <b>input.tipFixCodeUp</b>  <input type="button" class="tipFixCodeUp" />
 </li><BR/>
 <li> tipFix button with Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFixArrow</b>  <input type="button" class="tipFixArrow"/> &nbsp;&nbsp; 
     <b>input.tipFixArrowUp</b>  <input type="button" class="tipFixArrowUp" />
 </li><BR/>
 <li> JSU help Button: &nbsp;&nbsp;  
     <b>input.jsuHelp</b>  <input type="button" class="jsuHelp"/>
 </li>
 </li><BR/>
 <li> JSU Option Button: &nbsp;&nbsp;  
     <b>input.jsuOpt</b>  <input type="button" class="jsuOpt"/>
 </li>
</ul> 
```
*/

input.tipFix, input.tipFixUp{  /* Fields Common for input.tipFix and input.tipFixUp */ 
    height: 22px;
    width: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3px; 
    margin-right: 3px; 
    cursor: pointer;
}
input.tipFix{ /* Specific filed of input.tipFix */
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFix.png) no-repeat center center;
}
input.tipFixUp{ /* Specific filed of input.tipFixUp : different image */
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixUp.png) no-repeat center center;
}

input.tipFixJS, input.tipFixJSUp{
    height: 23px;
    width: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px; 
    cursor: pointer;
}
input.tipFixJS{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixJS.png) no-repeat center center;
}
input.tipFixJSUp{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixJSUp.png) no-repeat center center;
}

input.tipFixCode, input.tipFixCodeUp{
    height: 30px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px; 
    cursor: pointer;
}
input.tipFixCode{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixCode.png) no-repeat center center; 
    /* background: #E0E0E0 url(../images/tipFixCode.png) no-repeat center center; */
}
input.tipFixCodeUp{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixCodeUp.png) no-repeat center center; 
    /* background: #E0E0E0 url(../images/tipFixCodeUp.png) no-repeat center center; */ 
}


input.tipFixArrow, input.tipFixArrowUp {  /* Common fields  */
    height: 20px;
    padding-right: 30px;
    font-weight: bold;
    cursor: pointer;
}
input.tipFixArrow { /* specific image for tipFixArrow */ 
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixArrow.png) no-repeat right center;
}
input.tipFixArrowUp { /* specific image for tipFixArrowUp */
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixArrowUp.png) no-repeat right center;
}




input.jsuHelp{	/* Help Button */  
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 0px; 
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/help.png) no-repeat center center;
}

input.jsuOpt, input.jsuOptUp{  /* Option Button (we use the same also for Up)*/  
    height: 27px;
    width: 27px;
    cursor: pointer;
    margin-left: 0px; 
    /* background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/option.png) no-repeat center center; */
    background: #E0E0E0 url(../images/option.png) no-repeat center center;
}




input.tipFix,input.tipFixUp,       /* Border in Normal State */ 
input.tipFixArrow, input.tipFixArrowUp,
input.tipFixJS, input.tipFixJSUp,
input.tipFixCode, input.tipFixCodeUp,
input.jsuHelp, input.jsuOpt, input.jsuOptUp
{
    border: 2px solid gray;
    border-style: ridge;
} 


input.tipFix:hover,input.tipFixUp:hover,   /* Border when Mouse is over */ 
input.tipFixArrow:hover, input.tipFixArrowUp:hover,
input.tipFixJS:hover, input.tipFixJSUp:hover,
input.tipFixCode:hover, input.tipFixCodeUp:hover,
input.jsuHelp:hover, input.jsuOpt:hover, input.jsuOptUp:hover    
{
    border: 2px solid #e0e0e0;
    border-style: ridge;
} 



/*---
Tooltip: CSS used directly inside tooltip.js 
---
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>
*/

div.ttTitle{  /* default Title */
	/* background-color: #606060!important;  /* dark gray */
  background-color: #000000!important;  /* Black*/
  border-width:3px;
  border-style:solid;
  border-color:black;
}	

.ttClose {   /* close X button on Top Right of the TipFix Window */
  color: #000000 !important;
/*   font-family: Calibri !important; */
  font-family: "Arial Black", Gadget, sans-serif !important;
  font-weight: bold !important ;
  font-size: 13px !important;
  background-color: #D4D4D4 !important;  /* dark gray */
  color: #000000 !important;
  border-radius: 5px;  
  border-width:2px;
  border-style:solid;
  border-color:#C0C0C0;
    
 }

.ttClose:hover {
	background-color: #E0E0E0 !important;  /* dark gray */
  color: #404040 !important;
  border-color:#A0A0A0;
}


 

/*---
Tooltip: CSS for tip table 
---
*/

table.tip, table.jsuHeader, table.jsuFooter {
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: black; 
	background-color: #ffffff;
	/* White Gray: default backgound, used for Td */
	border: 3px solid #858585; /* Dark Gray */
	border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px; 	
}

table.tipNoBorder,table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; /* Black */
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 5px;  
}


table.jsuHeaderNoBorder,table.jsuFooterNoBorder {  
    border-spacing: 1px;  
  }


tr.tipTitle,th.tipTitle, tr.tipTitleBig,th.tipTitleBig {
  background-color: #0033FF; /* Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  border: 0px;
  font-family: Verdana;
  font-weight: bold;
}

tr.tipTitle,th.tipTitle{
  font-size: 9pt;
  padding: 2px;
}
tr.tipTitleBig,th.tipTitleBig{
  font-size: 13pt;
}

.tipTitleVeryBig{
  font-size: 30pt;
  font-weight: bold;  
}



label.tipTitle {
  font-family: Verdana;
  font-weight: bold;	
	font-size: 10pt;
}

label.tipTitleBig {
  font-family: Verdana;
  font-weight: bold;	
	font-size: 16pt;
}

tr.tipTitle2,th.tipTitle2, tr.tipTitleBig2,th.tipTitleBig2 {
  background-color: #66B2FF; 
  color: black; 
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-family: Verdana ;
  font-weight: bold ;
  font-size: 9pt ;
}

tr.tipTitle3,th.tipTitle3, tr.tipTitleBig3,th.tipTitleBig3 {
  background-color: #A9C6FC; 
  color: black; 
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 9pt;
}

tr.tipTitleBig2,th.tipTitleBig2,tr.tipTitleBig3,th.tipTitleBig3 {
  font-size: 11pt !important;
}


th.tip,td.tip {
	text-align: center;
	padding: .5em;
	color: #00;
	border: 1px solid #404040; /* Black */
	background-color: #ffffff;
}


th.tip2,td.tip2 { /* for alternate Row BackGround in Rows */
	text-align: center;
	padding: .5em;
	color: #00;
	border: 1px solid #404040; /* Black */
	background-color: #f1f1f1;
}


th.tip { /* Header */
	background: #B8B8B8; /* Gray */
}


th.tipSep { /* Row separator between SubTables*/
	background: #FFFFCC; /* Yellow*/
	height: 8pt;
	border-style: none;
	text-align: left;
	font-weight: normal;
	font-size: 8pt;
	color: #404040;
}

td.tipr, td.tipl, td.tipc, td.tipcBold, td.tiprBold,   td.tipAlr, td.tipOk, , td.tipGood, , td.tipErr{
	padding-right: 5px;
	border: 1px solid #404040; /* Black */
}


.tipc,.tipcBold {
  text-align: center!important;
}

.tipBold,.tipcBold,.tiprBold,.tiplBold{
  font-weight: bold!important;
}

td.tipr,td.tiprBold,div.tiprBold{
	text-align: right !important;
}


td.tipl,td.detl,td.tiplBold,div.tiplBold {
	text-align: left !important;
}

td.tiplNoPad {
	border: 1px solid #404040; /* Black */
	text-align: left;
}

td.tipAlr,label.tipAlr {
	color: #CD3333; /* Red */
	font-weight: bold;
}

td.tipOk,label.tipOk,div.tipOk {
	color: #009900; /* Green */
	/* font-weight: bold; */
}

.tipWarn,.tipWarnBold {
	background: #ffffcc; /* Yellow */
	color: red;
}

.tipWarnBold {
  font-weight: bold; 
}


td.tipNotPresent,label.tipNotPresent{ /* e.g for JSU Feature not present */
  background: black; /
  font-weight: bold;
  color: #ffffcc;
}


td.tipFooter {
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 8pt;
	color: #404040;
	background-color: #E8E8E8;
	border: 1px solid #858585;
	border-collapse: collapse;
	border-spacing: 0px;
}


label.tipTitle, td.tipTitle{
  font-weight: bold;
  color: black; 
  text-align: center;
  font-size: 12px;
}


label.tipBlue{ /*  Blue */
  font-family: Verdana;
  font-weight: bold;
  color: blue; 
}



label.tipBrown{ /* Brown Bold */
  font-family: Verdana;
  font-weight: bold;
  color: #8B4513;
  /* background-color: #CCFFFF; */   
}

input.tipBtnClose{ /* Button Close on the Bottom of the TipFix Window */
  cursor: pointer;
  font-weight: bold;
  border: 2px solid gray;
  border-style: ridge;
  min-width: 80px;
}  


input.tipBtnClose:hover /* Border when Mouse is over */
{
    border: 2px solid #e0e0e0;
    border-style: ridge;
} 
  


.tipGood,.tipGoodBold  { /* Good: Green  */
	color: #008B45; /* Dark Green */
}

.tipGoodBold { /* Good: Green and Bold */
  font-weight: bold; 
}


.tipErr,.tipErrBold,.err,.errBold   {
  color: #CD3333; /* Red */
}

.tipErrBold,.errBold   {
	font-weight: bold;
}



a.tipLink,a.tls{   /* tipLink and tipLinkS for Small font */
 font-weight: bold;
 text-decoration: underline; 
 color: blue; // 
}


a.tipLink:hover, a.tipLinkS:hover {
 cursor: pointer;
 color: #1E90FF; // dodgerblue
}


a.tipLinkJsLog, a.tt{  /* to be used in JsLog where background is black, ot in tt (tooltip) */
 font-weight: bold;
 text-decoration: underline; 
 color: #00BFFF; // 
}

a.tls, a.tt{   /* tipLinkS for Small font */
 font-size: 11px !important ;
 padding-left: 5px;
 padding-right: 5px;
 font-family: Calibri !important;
 font-style: italic !important;
}



a.tipLinkJsLog:hover, a.tt:hover {
 cursor: pointer;
 color:   #00ffff; 
}





table.note, table.tipNote {  /* for the Note (e.g at the bottom of the Google Analytics) */
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  color: black; /* Black */
  /* background-color: #ffffff; */
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 4px;  
  padding-top: 2px;
  padding-bottom: 8px;
}


td.note,td.tipNote{
  vertical-align: top;
  padding-right:5px;
}

td.tipNote{
  background-color: #ffffCC;
}

input.note{ /* Image for the Note */
    height: 18px;
    width: 36px;
    border: 0px ;
    background: white url("https://rawgit.com/FedericoLevis/JSU/master/images/note.png") no-repeat center center;  
}
input.tipNote{ /* Image for the Note in the Tip */
    height: 18px;
    width: 36px;
    border: 0px ;
    background: #FFFFCC url("https://rawgit.com/FedericoLevis/JSU/master/images/tipNote.png") no-repeat center center;  
}




a.tipLinkDisabled{
 font-weight: bold;
 text-decoration: underline; 
 color: gray; // 
 pointer-events: none;
 cursor: default;
}



.prettifyCode {  /* Extra class to enphasize, if required, Border color of prettified code */
  border-color: blue !important; 
}	
.prettifyTitle {  /* Extra class to enphasize, if required, Border color of prettified code */
  color: #99ffff !important; 
} 

