
/* 
========================================================================================= <BR/> 
<b>File:</b>      core/core.css <BR/>
<b>Author:</b>        <a href="https://www.linkedin.com/in/federicolevis" target="_blank">Federico Levis</a> <BR/>
<b>JSU API Doc:</b> <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/JSUAPI.html" target="_blank">JSU API Documentation</a> <BR/>
<b>Description:</b>     CSS for JSU CORE Features <BR/>   
<b>First Version:</b>     ver 1.0 - Feb 2014  <BR/>
<b>Current Version:</b>   ver 3.3 - Jul 2016  <BR/>
<BR/>-----------------------------------------------------------------------------------<BR/>
<b>DISCLAIMER</b>  <BR/>
Copyright by Federico Levis - <a href="https://github.com/FedericoLevis/JSU" target="_blank">JSU</a> <BR/> 
This file may be freely distributed under the MIT license.   <BR/>
<b> NOTE:</b> You can choose between 2 version of this file: <ul>
  <li> core.css: with relative path (so you can modify the images locally)- e.g background:url('../images/alarming.gif')  </li>
  <li> core_path_fix.css: with absolute path - e.g background:url('https://raw.github.com/FedericoLevis/JSU/master/images/alarming.gif')  </li>
</ul>
========================================================================================= <BR/> 
*/

/*---
.jsuAlarmingEl alarm for el   
---
<b>CSS:</b> ``input.jsuAlarmingEl``   see API see alarmShowIn1El
<BR/><b>Examples:</b>
```javascript
<input class="jsuAlarmingEl" width="100px" value="Example of value" />
```
```html
<input class="jsuAlarmingEl" style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/alarming.gif') no-repeat right center;background-size: contain;" width="100px" value="Example of value" />
```
*/
.jsuAlarmingEl {
  background:url('../images/alarming.gif') no-repeat right center;
  background-size: contain;
  z-index: 1000;
}

/*---
.jsuAlarmingEl  alarm img near a select   
---
<b>CSS:</b> ``img.jsuAlarmingImg``  used for select (added on the right and show/hide) 
<BR/><b>Examples:</b>
```javascript
<img class="jsuAlarmingImg"/>
```
```html
<img class="jsuAlarmingImg" style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/alarming.gif') no-repeat;background-size: contain; height: 26px;"/>
```
*/
img.jsuAlarmingImg {
  background:url('../images/alarming.gif') no-repeat;
  background-size: contain;
  height: 26px;
  vertical-align: text-top;
}

	
/*---
.jsuLoadingEl Loading for el   
---
<b>CSS:</b> ``input.jsuLoadingEl``   see API see loadingShowIn1El
<BR/><b>Examples:</b>
```javascript
<input class="jsuLoadingEl" width="100px" value="Example of value" />
```
```html
<input class="jsuLoadingEl" style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/FillingRing.gif') no-repeat right center;background-size: contain;" width="100px" value="Example of value" />
```
*/
.jsuLoadingEl {
  background:url('../images/FillingRing.gif') no-repeat right center;
  background-size: contain;
  z-index: 1000;
}

/*---
div.jsuLoadingEl Div with Loading Gif   
---
<b>CSS:</b> ``div.jsuLoadingEl``   see API see loadingShow
<BR/><b>Examples:</b>
```javascript
<div class="jsuLoadingEl" height="100px" />
```
```html
<div class="jsuLoadingEl" style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/FillingRing.gif') no-repeat center center;height:100px"/>
```
*/
div.jsuLoading {
  background:url('../images/FillingRing.gif') no-repeat center center;
  /* background-size: contain; */
   height: 80px;  /*  
  progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
  height: 100%; 
  width: 100%; 
  z-index: 100; 
  background-color: white; 
  position: absolute; 
  top:0px; 
  left: 0px;
  */  
}


/*---
loadingDivXXX API
---
<b>API: loadingDivStart loadingDivUpdate loadingDivEnd </b>
<b>CSS:</b> <ul>
 <li>``div.loadingDivContainer``   The Main DivContainer </li>
 <li>``div.loadingDiv``   The loadingDiv in The Middle of the Page, with the Border </li>
 <li>``div.loadingDivContainer``   The Main DivContainer </li>
 <li>``table.loadingDiv``   The Main loadingDiv Table </li>
 <li>``div.loadingDivGif`` /The Loading Gif on the Left in the Box </li>
 <li>...
</ul> 

<BR/><b>Examples:</b>
```html
<div id="loadingDivContainer" class="loadingDivContainer" >  
  <table width="100%" height="100%">  
    <tr> <td align="center">  
      <div  id="loadingDiv" class="loadingDiv">  
         <table id="loadingDivTable" class="loadingDiv" width="100%"  style="z-index: 110;">  
            <tr class="loadingDivTitle">  
              <td colspan="2" id="loadingDivTitle" class="loadingDivTitle" >Title Test</td>  
            </tr>  
            <tr>   
              <td id="loadingDivTdGif" align="left" width="80px">  
                <div id="loadingDivGif" class="loadingDivGif" style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/Disk.gif') no-repeat center center;height:100px"> </div>  
              </td>   
              <td id="loadingDivMsg" class="loadingDivMsg" align="left" style="padding-left:0px">  
                 <b>Working</b></BR>Please Wait...  
              </td>  
            </tr>  
            <tr>  
               <td colspan="2" align="center" class="loadingDivBtn" id="loadingDivBtnTd"  >  
                 <input type="button" class="loadingDivBtn" id="loadingDivBtn" value="Stop" onclick="loadingDivCancel();" />  
               </td>  
            </tr>  
            <tr>  
               <td colspan="2" id="loadingDivFooter" class="loadingDivFooter">  
                 Elapsed Time: 10 sec  
               </td>  
            </tr>  
        </table>  
      </div>  
    </td> </tr>  
  </table>  
</div> 
```

*/


div.loadingDivContainer { /* The Main DivContainer */
  progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
  height: 110%;  /* DEFAULT */
  width: 110%; 
  z-index: 100; 
  background-color: white; 
  position: absolute; 
  top:0px; 
  left: 0px;  
}


div.loadingDiv{ /* The loadingDiv in The Middle of the Page, with the Border  */
  z-index: 101;
  width: 300px; 
  border-style:groove;
  border-width:5px;
  background-color: #EBEBEB; 
  display: none;
}

table.loadingDiv{ /* The Main loadingDiv Table  */
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-size: 13px;
  color: black; /* Black */
  background-color: #EBEBEB;
  border: 0px; 
  border-collapse: collapse;
  border-spacing: 0px;  
}	

tr.loadingDivTitle {
  background-color: #0033FF; /* Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

td.loadingDivTitle {
	border-bottom: 2px solid black;  
}

td.loadingDivMsg{
  color: blue; /* Black*/
  text-align: left;
  font-size: 12px;
}


td.loadingDivBtn {
	padding-top: 10px;
  padding-bottom: 10px; 
}


td.loadingDivFooter { /* Footer with Elapsed sec */
	padding-left: 5px;
	border-top: 1px solid black;  
  background-color: #BABABA; 
  color: black; /* Black */
}

div.loadingDivGif{ /* The Loading Gif on the Left in the Box */
  width: 110px;
	height: 110px;
	background: url('../images/Disk.gif') no-repeat center center;
	z-index: 110;  
}


/*---
input.jsuInfo Tip img with 'i'   
---
<b>CSS:</b> ``img.jsuInfo`` ``input.jsuInfo``  usually used with JSU Tooltip API Tip() UnTip()  
<BR/>For cross browser compatibility we recommend using input.jsuInfo. img.jsuInfo can be used  only in IE. 
<BR/><BR/><b>Examples:</b>
```javascript
<input class="jsuInfo" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"/>
```
```html
<input class="jsuInfo" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"
  style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/info.jpg') no-repeat center bottom; height:14px;width: 5px;" 
/>
```
*/
img.jsuInfo, input.jsuInfo{ /* Info img  */
  background:url('../images/info.png') no-repeat center center;
  background-color: #19E4DD;
  height: 14px;
  width: 5px;
  margin-left: 2px; 
  cursor: pointer;
  border: 1px solid #000;
}



/*---
input.jsuTipTip img with QuestionMark    
---
<b>CSS:</b> ``img.jsuTip`` ``input.jsuTip``  usually used with JSU Tooltip API Tip() UnTip()  
<BR/>For cross browser compatibility we recommend using input.jsuInfo. img.jsuInfo can be used  only in IE. 
<BR/><BR/><b>Examples:</b>
```javascript
<input class="jsuTip" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"/>
```
```html
<input class="jsuTip" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"
  style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/tip.png') no-repeat center bottom" 
/>
```

*/
img.jsuTip, input.jsuTip{
  background:url('../images/tip.png') no-repeat center center;
  height: 20x;
  width: 20x;
  marging-left: 5px;
}



/*---
Validate API 
---
<b>CSS:</b> <ul>
 <li>``validateItemMandatory``     Item to validate: Mandatory </li>
 <li>``validateItemErr``     Item to validate: in Error State </li>
 <li>``validateErrLabel``     Error Label displayed on the Right of Item in case of ERROR  </li>
 <li>``div.validateErrSect``     div Section with all the ERRORS </li>
 <li>``label.validateErr``   label in Error State </li>

 <li>...
</ul> 
<BR/><b>Examples:</b>
```html
<input class="validateItemMandatory"  width="300px" value="Example of item.validateItemMandatory"><BR/><BR/>
<input class="validateItemErr"  width="300px" value="Example of item.validateItemErr">
<label class="validateErrLabel" style="display:inline;" width="300px">Example of label.validateErrLabel</label>
```
*/


.validateErrSect{ /* div Section with all the ERRORS  */
  border: 5px solid red;
  border-style: ridge; 
  color: red;
  display: none; /* default */
  text-align: left;
}	



label.validateErr{ /* item in error State  */
  border: 2px solid red;
  color: red;
}	

input.validateInfo{ /* Info img  */
  background:url('../images/info.png') no-repeat center center;
  background-color: #19E4DD;
  height: 14px;
  width: 5px;
  margin-left: 2px; 
  cursor: pointer;
  border: 1px solid #000;
}


.validateItemMandatory{ /* Item to validate: Mandatory */
  border: 2px solid black;
}	


.validateItemErr{ /* Item to validate: in Error State */
  border: 2px solid;
  border-color: red !important
} 


.validateErrLabel{ /* Error Label displayed on the Right of Item in case of ERROR   */
   color: red;
   font-style: italic;   
   font-weight: normal;
   margin-left: 5px;   
   display: none;  // Default: not Visible
}



.validateErrPopup{ /* Error Label in Popup */
  font-weight: normal;
  color: red; /* */
}


/*---
Tip API and JSU Button
---
<b>CSS:</b> (For Browser compatibility we recommend using input instead of img when both are present)<ul>
 <li>``img.tipJSFixed`` ``input.tipJSFixed``    tip JS Fixed img with Button Down </li>
 <li>``img.tipJSFixedUp`` ``input.tipJSFixedUp``  tip JS Fixed img with Button Up </li>
 <li>``input.jsuHelp``  JSU help Button </li>
 <li>...
</ul> 
<BR/><b>Examples:</b>
```javascript
<input type="button" class="tipJSFixed" />
<input type="button" class="tipJSUp" />
<input type="button" class="jsuHelp" />
```
```html
<input type="button" class="tipJSFixed"  style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/tipJSFixed.png') center top;" />
<input type="button" class="tipJSFixedUp"  style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/tipJSFixedUp.png') center top;" />
<input type="button" class="jsuHelp"  style="background:url('https://raw.github.com/FedericoLevis/JSU/master/images/help.png') no-repeat center center;height:18px:width:18px;" />
```
*/
img.tipJSFixed{ /* tip JS Fixed img with Button Down */
  background:url('../images/tipJSFixed.png') center top;
  /* background-size: contain; */
  height: 23px;
  width: 16px;
  margin-left: 5px;
}

img.tipJSFixedUp{ /* tip JS Fixed img with Button Up */
  background:url('../images/tipJSFixedUp.png') center top;
  /* background-size: contain; */ 
  height: 24px;
  width: 17px;
  margin-left: 5px;
}

img.tipArrowFixed{ /* tip Arrow Fixed img with Button Down */
  background:url('../images/tipArrowFixed.png') center bottom;
  height: 17px;
  width: 18px;
  margin-left: 5px;
}

img.tipArrowFixedUp{ /* tip JS Fixed img with Button Up */
  background:url('../images/tipArrowFixedUp.png') center bottom;
  height: 17px;
  width: 18px;
  margin-left: 5px;
}

input.tipArrowFixed, input.tipArrowFixedUp {
    height: 20px;
    padding-right: 30px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
}

input.tipJSFixed, input.tipJSFixedUp{
    height: 21px;
    width: 16px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px; 
}

input.tipJSFixed{
    background: #E0E0E0 url(../images/tipJSFixed.png) no-repeat center center;
}

input.tipJSFixedUp{
    background: #E0E0E0 url(../images/tipJSFixedUp.png) no-repeat center center;
}

input.tipFixed, input.tipFixedUp{
    height: 20px;
    width: 13px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px; 
}


input.tipFixed{
    background: #E0E0E0 url(../images/tipFixed.png) no-repeat center center;
}

input.tipFixedUp{
    background: #E0E0E0 url(../images/tipFixedUp.png) no-repeat center center;
}

input.tipArrowFixed {
    background: #E0E0E0 url(../images/tipArrowFixed.png) no-repeat right center;
}
input.tipArrowFixedUp {
    background: #E0E0E0 url(../images/tipArrowFixedUp.png) no-repeat right center;
}

input.jsuHelp{	/* Help Button */  
    height: 18px;
    width: 18px;
    border: 1px solid #000;
    cursor: pointer;
    margin-left: 4px; 
    background: #E0E0E0 url(../images/help.png) no-repeat center center;
    
}



img.tipFixedUp{ /* Fixed, Both after click: img with Button Up */
  background:url('../images/tipFixedUp.jpg') center top;
  background-size: contain;
  height: 20px;
  width: 15px;
  margin-left: 5px;
}

img.tipFixedBig{ /* Big */
  background:url('../images/tipFixedBig.jpg') no-repeat center bottom;
  height: 30px;
  width: 20px;
  margin-left: 5px;
}


img.tipFixedBigUp{ /*  after click : img with Button Up */
  background:url('../images/tipFixedBigUp.jpg') no-repeat center bottom;
  height: 30px;
  width: 20px;
  margin-left: 5px;
}


img.jsuSample{ /* Sample img  */
  background:url('../images/sample.jpg') no-repeat center bottom;
  align: bottom;
  width: 100px;  
  height: 20px;  
}


table.tip, table.jsuHeader, table.jsuFooter {
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: black; 
	background-color: #ffffff;
	/* White Gray: default backgound, used for Td */
	border: 3px solid #858585; /* Dark Gray */
	border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px; 	
}

table.tipNoBorder,table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; /* Black */
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 5px;  
}


table.jsuHeaderNoBorder,table.jsuFooterNoBorder { /* used for Header and Footer in Documentation*/ 
    border-spacing: 1px;  
  }


tr.tiptitle,th.tiptitle, tr.tiptitleBig,th.tiptitleBig {
  background-color: #0033FF; /* Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  border: 0px;
  font-family: Verdana;
  font-weight: bold;
}

tr.tiptitle,th.tiptitle{
  font-size: 9pt;
  padding: 2px;
}
tr.tiptitleBig,th.tiptitleBig{
  font-size: 13pt;
}

.tiptitleVeryBig{
  font-size: 30pt;
  font-weight: bold;  
}



label.tiptitle {
  font-family: Verdana;
  font-weight: bold;	
	font-size: 10pt;
}

label.tiptitleBig {
  font-family: Verdana;
  font-weight: bold;	
	font-size: 16pt;
}

tr.tiptitle2,th.tiptitle2, tr.tiptitleBig2,th.tiptitleBig2 {
  background-color: #66B2FF; 
  color: black; 
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 9pt;
}

tr.tiptitle3,th.tiptitle3, tr.tiptitleBig3,th.tiptitleBig3 {
  background-color: #A9C6FC; 
  color: black; 
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 9pt;
}

tr.tiptitleBig2,th.tiptitleBig2,tr.tiptitleBig3,th.tiptitleBig3 {
  font-size: 11pt !important;
}


th.tip,td.tip {
	text-align: center;
	padding: .5em;
	color: #00;
	border: 1px solid #404040; /* Black */
	background-color: #ffffff;
}


th.tip2,td.tip2 { /* for alternate Row BackGround in Rows */
	text-align: center;
	padding: .5em;
	color: #00;
	border: 1px solid #404040; /* Black */
	background-color: #f1f1f1;
}


th.tip { /* Header */
	background: #B8B8B8; /* Gray */
}


th.tipsep { /* Row separator between SubTables*/
	background: #FFFFCC; /* Yellow*/
	height: 8pt;
	border-style: none;
	text-align: left;
	font-weight: normal;
	font-size: 8pt;
	color: #404040;
}

td.tipr, td.tipl, td.tipc, td.tipcBold, td.tiprBold,   td.tipalr, td.tipok, , td.tipGood, , td.tipErr{
	padding-right: 5px;
	border: 1px solid #404040; /* Black */
}


td.tipc,td.tipcBold {
  text-align: center!important;
}

td.tipcBold,td.tiprBold {
  font-weight: bold!important;
}

td.tipr,td.tiprBold {
	text-align: right !important;
}


td.tipl {
	text-align: left !important;
}

td.tiplNoPad {
	border: 1px solid #404040; /* Black */
	text-align: left;
}

td.tipalr,label.tipalr {
	color: #CD3333; /* Red */
	font-weight: bold;
}

td.tipok,label.tipok {
	color: #009900; /* Green */
	font-weight: bold;
}

td.tipwarn,label.tipwarn {
	background: yellow; /* Yellow */
	font-weight: bold;
	color: red;
}

td.tipNotPresent,label.tipNotPresent{ /* e.g for JSU Feature not present */
  background: black; /
  font-weight: bold;
  color: yellow;
}


td.tipfooter {
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 8pt;
	color: #404040;
	background-color: #E8E8E8;
	border: 1px solid #858585;
	border-collapse: collapse;
	border-spacing: 0px;
}


label.tipTitle, td.tipTitle{
  font-weight: bold;
  color: black; 
  text-align: center;
  font-size: 12px;
}


label.tipBlue{ /*  Blue */
  font-family: Verdana;
  font-weight: bold;
  color: blue; 
}



label.tipBrown{ /* Brown Bold */
  font-family: Verdana;
  font-weight: bold;
  color: #8B4513;
  /* background-color: #CCFFFF; */   
}



td.tipGood,label.tipGood { /* Good: Green and Boold */
	font-weight: bold;
	color: #008B45; /* Dark Green */
}

td.tipErr,label.tipErr   {
	color: #CD3333; /* Red */
	font-weight: bold;
}

a.tipLink{
 font-weight: bold;
 text-decoration: underline; 
 color: blue; // 
}

a.tipLink:hover {
 cursor: pointer;
 color: #1E90FF; // dodgerblue
}


a.tipLinkJsLog{  /* to be used in JsLog where background is black */
 font-weight: bold;
 text-decoration: underline; 
 color: cyan; // 
}

a.tipLinkJsLog:hover {
 cursor: pointer;
 color:   #E0FFFF; 
}




a.tipLinkDisabled{
 font-weight: bold;
 text-decoration: underline; 
 color: gray; // 
 pointer-events: none;
 cursor: default;
}



/*---
jslog API 
---
<b>CSS:</b> <ul>
 <li>``h3.jslog`` `Header with Btn </li>
 <li>``div.jslogFooter``  Footer with Btn </li>
 <li>...
</ul> 
*/


h3.jslog{ /* Header with Btn */
  background:  #ccc;
  color : #000;
  cursor:  pointer;
  font-size:  14px;
  font-weight:  bold;
  margin:   0 0 2px;
  lineHeight: 14px;
}	



div.jslogFooter{ /* Footer with Btn */
  font-size:  12px;
  /* textTransform = uppercase; */
  font-weight:  bold;
  margin:   0 0 2px;
  lineHeight: 14px;
  position: absolute;
  bottom: 1px;
  left: 1px;
} 

.jslogButton{
  cursor: pointer;
  font-size:  12px;
  font-weight:  bold;
  padding: 0 5px;     		
}	

label.jslogHeader {
  font-weight: bold;
  margin-left: 10px;
}

label.jslogFooter{
  font-weight: bold;
  margin-left: 20px;
  color: white;
}


select.jslog {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
}


