
/*
File:               about.css
Author:             Federico Levis
Last Modification:  Mar 2016   
Description:        CSS for About sections used also in doc

DISCLAIMER
Copyright by Federico Levis http://federicolevis.wix.com/cognos Cognos Tips & Solutions
All rights reserved: UNAUTHORIZED COPYING, REPRODUCTION, REPUBLISHING, UPLOADING, POSTING, TRANSMITTING OR DUPLICATING IS PROHIBITED
*/







h1.jsuDoc {  /* JSU Documentation */
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top:5px;
  padding-bottom:5px;
} 

h2.jsuDoc {  /* JSU Documentation */
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 22px;
  color: black;
  text-align: left;
  padding-top:10px;
  padding-bottom:2px;
  margin-top: 0px;
  margin-bottom: 0px;
} 

ul {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 2px;
}

li {
  padding-top:0px;
  padding-bottom:2px;
  margin-top: 0px;
  margin-bottom: 2px;
}

h1.jsuDownload{  /* inside the Title */
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial-Black ;
  font-weight: bold ;
  font-size: 24pt ;
} 


table.docSep {
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}	



/* ================================   About ========================================================== */


.jsuAboutTitle, .jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 100px;
}	

.jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 80px;
} 


/*  Jsu About Title  */
.jsuAboutTitle {
  align: center;
}

/*  Jsu About Image: Just */
.jsuAboutJust{
  align: right;
}
/*  Jsu About Image: Simple */
.jsuAboutSimple{
  align: center;
}
/*  Jsu About Image: Use */
.jsuAboutUse{
  align: left;
}


/* About  */
table.jsuAbout
{
  color: #000000; /* Black */
  border: 3px ;   
  border-style: groove;
}


tr.jsuAbout, tr.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 2px ;
  border-top:solid;   
  border-left:solid;   
  border-right:solid;   
  border-bottom:solid;   
}


/* About Msg */
tr.jsuAboutMsg
{
  background-color: #E5F9FD;  
}


/* About Msg */
table.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 0px ;
  background-color: #E5F9FD;  
}

.jsuAboutHea, jsuAboutFooter
{
}

/* Used in Sample */

label.aboutTitleJSU{
  margin-left: 100px;
}


label.aboutAuthor{
  margin-left: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

/* Label near tip  */
label.aboutSource, label.aboutSourceJSUAPI{
  margin-top: 20px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: blue;
}
/* Like .jsu in jsu-github.js */
label.aboutSourceJSUAPI{
  background-color: #CCFFFF;   
}


input.downloadFree, input.downloadPay {  /* common for download buttons*/
  border: 2px solid gray;
  border-style: ridge;
  font-weight: bold;
  cursor: pointer;
  align:left;
}

input.downloadFree {
  height: 27px;
  width: 210px;
  cursor: pointer;
  margin-left:100px;
  margin-right: 0px;  
  background: Yellow url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/DownloadFree.png) no-repeat center center;
}

input.downloadPay {
  height: 27px;
  width: 165px;
  cursor: pointer;
  margin-left:  50px;
  margin-right: 0px;  
  background: cyan url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadPay.png) no-repeat right center;
}


input.downloadPageFree {
    height: 80px;
    width: 485px;
    cursor: pointer;
    background: gray url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadPageFree.png) no-repeat right center;
}

.jsuFeatPresent{ /* FREE */
  font-family: Verdana;
  color: #000000;
  background-color: #66FF66;    
}

.jsuFeatPresentBig{ /* FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  background-color: #66FF66;    
}


.jsuFeatAbsent{ /* NOT FREE */
  font-family: Verdana;
  color: #FFD700;
  background-color: black;    
}

.jsuFeatAbsentBig{ /* NOT FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: #FFD700;
  background-color: black;    
}


.jsuFeatPresent{ /* FREE */
  font-family: Verdana;
  color: #000000;
  background-color: #66FF66;    
}

.jsuFeatPresentBig{ /* FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  background-color: #66FF66;    
}


.jsuFeatAbsent{ /* NOT FREE */
  font-family: Verdana;
  color: #FFD700;
  background-color: black;    
}

.jsuFeatBig{ 
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px !important;
}

