/*
File:               Sample.css
Author:             Federico Levis
Last Modification:  Jan 2016   
Description:        Common CSS for alla The JSU  Samples 

DISCLAIMER
*/





table.sampleToolbar { /* the Toolbar below the Header (download buttons,... */
  background-color: #F5F5F5;
} 

hr { /* separator between header ad App */
  border: 1px solid black;
  border-style: ridge;  
  margin-top: 0px;
  margin-bottom: 4px;
}

h1.jsuSample{  /* Title of the samples*/
  text-align: center;
  margin-top: 4px;
  margin-bottom: 1px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 20pt ;
}	



select.parOption {  /* select that is displayed only when the par otion=1 (only for developers */
  display:none; 
  margin-left:15px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 9px;
}	

select.selectSample{  /* select The sample */
  margin-left:15px;
  font-family: Verdana;
  font-weight: bold;
  /* font-size: 9px; */
  border: 1px solid black;
} 


div.sampleSort, table.sampleSort{
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
	float:left;
  width:500px;
  overflow: auto;
  max-height: 250px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;  
}
td.sampleSort{
  font-size: 11px;
}	

fieldset{
  border: 1px solid black;  
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
}

table.sample, table.sampleNoBorder{
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
	color: black;    
	background-color: white;  
	border: 1px solid black;  
	border-collapse: collapse;
	border-spacing: 2px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  border: 1px solid black;  
}

table.sample, table.sampleNoBorder{
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-size: 12px;
  color: black;    
  background-color: white;  
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  border-collapse: separate;
  border-spacing: 3px;
}
table.sample{
  border: 1px solid black;  
}

td.sample{
  text-align: left;
  font-family: Calibri;
  font-weight: normal;
  font-size: 15px;
  color: black;    
  background-color: white;  
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}

.videoOpt{ /* for select videoOpt */
  font-family: Calibri;
  font-weight: bold;
  font-size: 12px;
}


label.sampleBrown{ /* Brown Bold */
  font-family: Calibri;
  font-weight: bold;
  font-size: 15px;
  color: #8B4513;
  /* background-color: #CCFFFF; */   
}


label.sampleTitle{
  text-align: center;
	font-family: Verdana;
  font-weight: bold;
  /*text-decoration: underline; */
  font-size: 14px;
  color: white;    
  background-color: black;
}	


table.sampleNoBorder{
  border: 0px;  
}


td.sampleDesc{
  text-align: left;
  font-family: Calibri;
  font-weight: normal;
  font-size: 14px;
  color: black;    
  background-color: white;  
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}


tr.header{
	background-color: #33FFFF; /*  */
	color:black;  
  border: 1px solid black;  
	text-align:center;
	padding:.5em;border:0px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 9pt;
  border: 1px solid black;  
}


td.header,th.header{
	text-align: center;
  border: 1px solid black;  
}


/*  N.B: If you class="footer" for table summary, so cSortTable can understand that it must stay to the bottom 
if you use a different class, pass it to cSortTable */
tr.footer, tr.myFooter, td.myFooter{
	background-color: #CECECE; /* Gray */
	color: blue;  
	text-align: right;
  border: 1px solid black;  
	padding:.5em;border:0px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 9pt;
}


img.sample{
	height: 15px;
	width: 15px;
}	


/* ================================   Sample ========================================================== */

.jsuSampleTitle, .jsuSampleJust, .jsuSampleSimple, .jsuSampleUse {
  height: 130px;
}	

label.jsuAPI{
  font-weight: bold;
  color: blue !important;
  background-color: #CCFFFF ;   
}	

/*  Jsu Sample Title  */
.jsuSampleTitle {
  align: center;
}

/*  Jsu Sample Image: Just */
.jsuSampleJust{
  align: right;
}
/*  Jsu Sample Image: Simple */
.jsuSampleSimple{
  align: center;
}
/*  Jsu Sample Image: Use */
.jsuSampleUse{
  align: left;
}


/* Sample  */
table.jsuSample
{
  color: #000000; /* Black */
  border: 3px ;   
  border-style: groove;
}


tr.jsuSample, tr.jsuSampleMsg
{
  color: #000000; /* Black */
  border: 2px ;
  border-top:solid;   
  border-left:solid;   
  border-right:solid;   
  border-bottom:solid;   
}


/* Sample Msg */
tr.jsuSampleMsg
{
  background-color: #E5F9FD;  
}


/* Sample Msg */
table.jsuSampleMsg
{
  color: #000000; /* Black */
  border: 0px ;
  background-color: #E5F9FD;  
}

.jsuSampleHea, jsuSampleFooter
{
}


select.bold{
    font-weight: bold;
}

.debug
{
  border-style: dotted;
  border-width: 4px ; /* Top left bottom right*/
  background: #FFFF00; 
  border-color: #EEC900; /* Same color of  jsAlertTblMsgWarn */
  display: none; 

}

