
/*
File:               about.css
Author:             Federico Levis
Last Modification:  Mar 2016   
Description:        CSS for About sections used also in doc

DISCLAIMER
Copyright by Federico Levis http://federicolevis.wix.com/cognos Cognos Tips & Solutions
All rights reserved: UNAUTHORIZED COPYING, REPRODUCTION, REPUBLISHING, UPLOADING, POSTING, TRANSMITTING OR DUPLICATING IS PROHIBITED
*/




table.jsuHeader, table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  font-family: Verdana;
  font-weight: normal;
  font-size: 13px;
  color: black; 
  background-color: #ffffff;
  text-align: left;
  border-spacing: 2px;  
}	


table.jsuHeader {
  border: 3px solid #858585; /* Dark Gray */
  border-collapse: separate;
  border-spacing: 2px;  
}

table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 2px;  
}



td.jsuHeaderLogo { 
  height: 80px;
  width: 300px;
  align: center;
	// background: url('https://rawgit.com/FedericoLevis/images/master/jsuAbout/jsuLogo.png') center center no-repeat;
  background: url('../../images/about/jsuLogo.png') center center no-repeat;
}



h1.jsuDoc {  /* JSU Documentation */
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
} 

h2.jsuDoc {  
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 22px;
  color: black;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 3px;
} 

h3.jsuDoc {  
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 3px;
} 

h4.jsuDoc {  
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 16x;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 3px;
} 



hr.jsuDoc { /* separator between header ad App */
  border: 2px solid black;
  border-style: solid;  
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
}

hr.h2Sep { /* separator between h2  */
  border: 1px solid black;
  border-style: solid;  
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}


table.jsuDocLink{  /* used as Item reference before the sample */
  margin-top: 5px;
  margin-bottom: 15px;
}	
	


ul {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 2px;
}

li {
  padding-top:0px;
  padding-bottom:2px;
  margin-top: 0px;
  margin-bottom: 2px;
}

h1.jsuDownload{  /* inside the Title */
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial-Black ;
  font-weight: bold ;
  font-size: 24pt ;
} 


table.docSep {
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}	



table.jsuDocHeader, table.jsuDocFooter {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; 
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 3px solid #858585; /* Dark Gray */
  border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px;  
}

table.jsuDocFooterNoBorder {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; /* Black */
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 5px;  
}


table.jsuDocHeaderNoBorder,table.jsuDocFooterNoBorder { /* used for Header and Footer in Documentation*/ 
    border-spacing: 5px;  
  }




/* ================================   About ========================================================== */


.jsuAboutTitle, .jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 100px;
}	

.jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 80px;
} 


/*  Jsu About Title  */
.jsuAboutTitle {
  align: center;
}

/*  Jsu About Image: Just */
.jsuAboutJust{
  align: right;
}
/*  Jsu About Image: Simple */
.jsuAboutSimple{
  align: center;
}
/*  Jsu About Image: Use */
.jsuAboutUse{
  align: left;
}


/* About  */
table.jsuAbout
{
  color: #000000; /* Black */
  border: 3px ;   
  border-style: groove;
}


tr.jsuAbout, tr.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 2px ;
  border-top:solid;   
  border-left:solid;   
  border-right:solid;   
  border-bottom:solid;   
}


/* About Msg */
tr.jsuAboutMsg
{
  background-color: #E5F9FD;  
}


/* About Msg */
table.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 0px ;
  background-color: #E5F9FD;  
}

.jsuAboutHea, jsuAboutFooter
{
}

/* Used in Sample */

label.aboutTitleJSU{
  margin-left: 100px;
}


label.aboutAuthor{
  margin-left: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

label.jsuHelp {  /* e.g Tooltip Documentation */
  margin-left: 30px;  /* Keep some space from the other Items inthe Title */
  font-size: 12px; 
} 


/* Label near tip  */
label.aboutSource, label.aboutSourceJSUAPI{
  margin-top: 20px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: blue;
}
/* Like .jsu in jsu-github.js */
label.aboutSourceJSUAPI{
  background-color: #CCFFFF;   
}


input.downloadFree, input.downloadPay {  /* common for download buttons*/
  border: 2px solid gray;
  border-style: ridge;
  font-weight: bold;
  cursor: pointer;
  align:left;
}

input.downloadFree,input.downloadFreeUp {  /* Go to the download Page */
  height: 27px;
  width: 210px;
  cursor: pointer;
  margin-left:100px;
  margin-right: 0px;  
}
input.downloadFree{
  background: Yellow url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadFree.png) no-repeat center center;
}
input.downloadFreeUp {  /* Close  the download Page */
  background: Yellow url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadFreeUp.png) no-repeat center center;
}


input.downloadPay {
  height: 27px;
  width: 165px;
  cursor: pointer;
  margin-left:  50px;
  margin-right: 0px;  
  background: cyan url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadPay.png) no-repeat right center;
}


input.downloadFreeExecute {  /* button that execute the download */
    height: 80px;
    width: 485px;
    cursor: pointer;
    background: gray url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadFreeExecute.png) no-repeat right center;
}

.jsuFeatPresent{ /* FREE */
  font-family: Verdana;
  color: #000000;
  background-color: #66FF66;    
}

.jsuFeatPresentBig{ /* FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  background-color: #66FF66;    
}


.jsuFeatAbsent{ /* NOT FREE */
  font-family: Verdana;
  color: #FFD700;
  background-color: black;    
}

.jsuFeatAbsentBig{ /* NOT FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: #FFD700;
  background-color: black;    
}


.jsuFeatPresent{ /* FREE */
  font-family: Verdana;
  color: #000000;
  background-color: #66FF66;    
}

.jsuFeatPresentBig{ /* FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  background-color: #66FF66;    
}


.jsuFeatAbsent{ /* NOT FREE */
  font-family: Verdana;
  color: #FFD700;
  background-color: black;    
}

.jsuFeatBig{ 
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px !important;
}

