
/*
File:               about.css
Author:             Federico Levis
Last Modification:  Mar 2016   
Description:        CSS for About sections used also in doc

DISCLAIMER
Copyright by Federico Levis http://federicolevis.wix.com/cognos Cognos Tips & Solutions
All rights reserved: UNAUTHORIZED COPYING, REPRODUCTION, REPUBLISHING, UPLOADING, POSTING, TRANSMITTING OR DUPLICATING IS PROHIBITED
*/




input.browserAll {  /* Compatibility All */
    height: 40px;
    width: 130px;
    border: 0px ;
    background: white url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/browserAll.png) no-repeat center center;
    /* background: white url(../../images/about/browserAll.png) no-repeat center center; */
}

input.browserAllSmall {  /* Compatibility All - About */
    height: 30px;
    width: 100px;
    border: 0px ;
    background: white url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/browserAllSmall.png) no-repeat center center;
    /* background: white url(../../images/about/browserAllSmall.png) no-repeat center center; */
}


input.browserIE {  /* Only IE */
    height: 43px;
    width: 130px;
    border: 0px ;
    background: white url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/browserIE.png) no-repeat center center; */
    /* background: white url(../../images/about/browserIE.png) no-repeat center center; */
}

input.browserIESmall {  /* Only IE */
    height: 30px;
    width: 100px;
    border: 0px ;
    background: white url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/browserIESmall.png) no-repeat center center; 
    /* background: white url(../../images/about/browserIESmall.png) no-repeat center center; */
}


input.playVideo {  /* PlayVideo*/
    height: 30px;
    width: 140px;
    cursor: pointer;
    border: raised black 2px ;
    background: gray url("https://rawgit.com/FedericoLevis/images/master/jsuAbout/PlayVideo.png") no-repeat center center;
    /* background: white url(../../images/about/PlayVideo.png) no-repeat center center; */
}

input.playVideoSmall {  /* PlayVideo for About */
    height: 18px;
    width: 100px;
    cursor: pointer;
    border: raised black 2px ;
    background: gray url("https://rawgit.com/FedericoLevis/images/master/jsuAbout/PlayVideoSmall.png") no-repeat center center; 
    /* background: white url(../../images/about/PlayVideoSmall.png) no-repeat center center; */
}



.allSampleGood {
  color: #008B45; /* Dark Green */
  font-weight: bold; 
  font-size: 13px;		
}	
.allSampleErr {
  color: #CD3333; /* Red */
  font-weight: bold; 
  font-size: 13px;    
} 
.allSampleLimit { /* Link about Feature Limit */
  color: blue; 
  font-weight: bold; 
  font-size: 10px;
  /* background-color: yellow !important; */
}      
 
.featSampleLimit { /* Link about Feature Limit */
  color: blue; 
  font-weight: bold; 
  font-size: 12px;
  align: left;
  /* background-color: yellow !important; */
}      


table.jsuHeader, table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  font-family: Verdana;
  font-weight: normal;
  font-size: 13px;
  color: black; 
  background-color: #ffffff;
  text-align: left;
  border-spacing: 2px;  
}	


table.jsuHeader {
  border: 3px solid #858585; /* Dark Gray */
  border-collapse: separate;
  border-spacing: 2px;  
}

table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 2px;  
}



td.jsuHeaderLogo { 
  height: 80px;
  width: 300px;
  align: center;
	// background: url('https://rawgit.com/FedericoLevis/images/master/jsuAbout/jsuLogo.png') center center no-repeat;
  background: url('../../images/about/jsuLogo.png') center center no-repeat;
}



h1.jsuDoc {  /* JSU Documentation */
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
} 

h2.jsuDoc {  
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 22px;
  color: black;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 3px;
} 

h3.jsuDoc {  
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 3px;
} 

h4.jsuDoc {  
  font-family: Arial-Black;
  font-weight: bold;
  font-size: 18x;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 3px;
} 



hr.jsuDoc { /* separator between header ad App */
  border: 2px solid black;
  border-style: solid;  
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
}

hr.h2Sep { /* separator between h2  */
  border: 1px solid black;
  border-style: solid;  
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}


table.jsuDocLink{  /* used as Item reference before the sample */
  margin-top: 7px;
  margin-bottom: 15px;
}	
	


ul {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 2px;
}

li {
  padding-top:0px;
  padding-bottom:2px;
  margin-top: 0px;
  margin-bottom: 2px;
}

h1.jsuDownload{  /* inside the Title */
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial-Black ;
  font-weight: bold ;
  font-size: 24pt ;
} 


table.docSep {
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}	



table.jsuDocHeader, table.jsuDocFooter {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; 
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 3px solid #858585; /* Dark Gray */
  border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px;  
}

table.jsuDocFooterNoBorder {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; /* Black */
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 5px;  
}


table.jsuDocHeaderNoBorder,table.jsuDocFooterNoBorder { /* used for Header and Footer in Documentation*/ 
    border-spacing: 5px;  
  }




/* ================================   About ========================================================== */


.jsuAboutTitle, .jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 100px;
}	

.jsuAboutJust, .jsuAboutSimple, .jsuAboutUse {
  height: 80px;
} 


/*  Jsu About Title  */
.jsuAboutTitle {
  align: center;
}

/*  Jsu About Image: Just */
.jsuAboutJust{
  align: right;
}
/*  Jsu About Image: Simple */
.jsuAboutSimple{
  align: center;
}
/*  Jsu About Image: Use */
.jsuAboutUse{
  align: left;
}


/* About  */
table.jsuAbout
{
  color: #000000; /* Black */
  border: 3px ;   
  border-style: groove;
}


tr.jsuAbout, tr.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 2px ;
  border-top:solid;   
  border-left:solid;   
  border-right:solid;   
  border-bottom:solid;   
}


/* About Msg */
tr.jsuAboutMsg
{
  background-color: #E5F9FD;  
}


/* About Msg */
table.jsuAboutMsg
{
  color: #000000; /* Black */
  border: 0px ;
  background-color: #E5F9FD;  
}

.jsuAboutHea, jsuAboutFooter
{
}

/* Used in Sample */

label.aboutTitleJSU{
  margin-left: 100px;
}


label.aboutAuthor{
  margin-left: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-style: italic;
}

label.jsuHelp {  /* e.g Tooltip Documentation */
  margin-left: 30px;  /* Keep some space from the other Items inthe Title */
  font-size: 12px; 
} 


/* Label near tip  */
label.aboutSource, label.aboutSourceJSUAPI{
  margin-top: 20px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: blue;
}
/* Like .jsu in jsu-github.js */
label.aboutSourceJSUAPI{
  background-color: #CCFFFF;   
}


input.downloadFree, input.downloadFreeUp, input.downloadPay {  /* common for download buttons*/
  font-weight: bold;
  cursor: pointer;
  width: 146px;
  height: 27px;
  cursor: pointer;
}

input.downloadFree, input.downloadFreeUp   {  /* common for download buttons*/
  margin-left:100px;
  margin-right: 0px;  
}  

input.downloadFree  {  
  background: gray url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadFree.png) no-repeat right center;  background: gray url(../../images/about/downloadFree.png) no-repeat center center;
}

input.downloadFreeUp  {  
 background: gray url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadFreeUp.png) no-repeat right center; 
 /* background: gray url(../../images/about/downloadFreeUp.png) no-repeat center center; */
}


input.downloadPay {
  width: 150px;
  margin-left:  50px;
  margin-right: 0px;  
  background: gray url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadPay.png) no-repeat right center;
}


input.downloadFreeExecute {  /* button that execute the download */
    height: 69px;
    width: 342px;
    cursor: pointer;
    background: gray url(https://rawgit.com/FedericoLevis/images/master/jsuAbout/downloadFreeExecute.png) no-repeat right center;
}


input.downloadFree, input.downloadFreeUp, input.downloadPay,input.downloadFreeExecute
{
    border: 2px solid gray;
    border-style: ridge;
} 

input.downloadFree:hover, input.downloadPay:hover,input.downloadFreeExecute:hover, input.downloadFreeUp:hover 
{
    border: 2px solid #e0e0e0;
    border-style: ridge;
} 



.jsuFeatPresent{ /* FREE */
  font-family: Verdana;
  color: #000000;
  background-color: #66FF66;    
}

.jsuFeatPresentBig{ /* FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  background-color: #66FF66;    
}


.jsuFeatAbsent{ /* NOT FREE */
  font-family: Verdana;
  color: #FFD700;
  background-color: black;    
}

.jsuFeatAbsentBig{ /* NOT FREE */
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: #FFD700;
  background-color: black;    
}


.jsuFeatBig{ 
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px !important;
}


td.jsuOptPresent { /* Option present */
  background-color: #66FF66;
  width: 30px;    
}


td.jsuOptAbsent{ /* Option absent*/
  background-color: black;    
  width: 30px;    
}



.errSample{ /* Error = e.g For using Free JSU */
  font-weight: normal;
  color: red; /* */
}



td.parDefault{
  font-weight: normal;
}	
td.parModified{
  font-weight: bold;
  background-color: #66FF66;
} 

td.parNotAllowed{  
  font-weight: bold;
  background-color: Yellow !important;
} 




table.sampleToolbar { /* the Toolbar below the Header (download buttons,... */
  background-color: #F5F5F5;
} 

hr { /* separator between header ad App */
  border: 1px solid black;
  border-style: ridge;  
  margin-top: 0px;
  margin-bottom: 4px;
}

h1.jsuSample{  /* Title of the samples*/
  text-align: center;
  margin-top: 4px;
  margin-bottom: 1px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 20pt ;
}	


select.parOption {  /* select that is displayed only when the par otion=1 (only for developers */
  display:none; 
  margin-left:15px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 9px;
}	

select.selectSample{  /* select The sample */
  margin-left:15px;
  font-family: Verdana;
  font-weight: bold;
  /* font-size: 9px; */
  border: 1px solid black;
} 


div.sampleSort, table.sampleSort{
  font-family: Verdana !important;
  font-weight: normal !important;
  font-size: 9px !important;
	float:left;
  width:500px;
  overflow: auto;
  max-height: 250px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;  
}
td.sampleSort{
  font-size: 11px;
}	



fieldset{
  border: 1px solid black;  
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
}

table.sample, table.sampleNoBorder{
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
	color: black;    
	background-color: white;  
	border: 1px solid black;  
	border-collapse: collapse;
	border-spacing: 2px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  border: 1px solid black;  
}

table.sample, table.sampleNoBorder{
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-size: 12px;
  color: black;    
  background-color: white;  
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  border-collapse: separate;
  border-spacing: 3px;
}
table.sample{
  border: 1px solid black;  
}

td.sample{
  text-align: left;
  font-family: Calibri;
  font-weight: normal;
  font-size: 15px;
  color: black;    
  background-color: white;  
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}

.videoOpt{ /* for select videoOpt */
  font-family: Calibri;
  font-weight: bold;
  font-size: 12px;
}


label.sampleBrown{ /* Brown Bold */
  font-family: Calibri;
  font-weight: bold;
  font-size: 15px;
  color: #8B4513;
  /* background-color: #CCFFFF; */   
}


label.sampleTitle{
  text-align: center;
	font-family: Verdana;
  font-weight: bold;
  /*text-decoration: underline; */
  font-size: 14px;
  color: white;    
  background-color: black;
}	


table.sampleNoBorder{
  border: 0px;  
}


td.sampleDesc{
  text-align: left;
  font-family: Calibri;
  font-weight: normal;
  font-size: 14px;
  color: black;    
  background-color: white;  
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}


tr.header{
	background-color: #33FFFF; /*  */
	color:black;  
  border: 1px solid black;  
	text-align:center;
	padding:.5em;border:0px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 9pt;
  border: 1px solid black;  
}


td.header,th.header{
	text-align: center;
  border: 1px solid black;  
}


/*  N.B: If you class="footer" for table summary, so cSortTable can understand that it must stay to the bottom 
if you use a different class, pass it to cSortTable */
tr.footer, tr.myFooter, td.myFooter{
	background-color: #CECECE; /* Gray */
	color: blue;  
	text-align: right;
  border: 1px solid black;  
	padding:.5em;border:0px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 9pt;
}


img.sample{
	height: 15px;
	width: 15px;
}	


/* ================================   Sample ========================================================== */

.jsuSampleTitle, .jsuSampleJust, .jsuSampleSimple, .jsuSampleUse {
  height: 130px;
}	


label.jsuAPI{  /* e.g cSortTable */
  font-weight: bold;
  color: blue !important;
  background-color: #CCFFFF ;   
} 

/*  Jsu Sample Title  */
.jsuSampleTitle {
  align: center;
}

/*  Jsu Sample Image: Just */
.jsuSampleJust{
  align: right;
}
/*  Jsu Sample Image: Simple */
.jsuSampleSimple{
  align: center;
}
/*  Jsu Sample Image: Use */
.jsuSampleUse{
  align: left;
}


/* Sample  */
table.jsuSample
{
  color: #000000; /* Black */
  border: 3px ;   
  border-style: groove;
}


tr.jsuSample, tr.jsuSampleMsg
{
  color: #000000; /* Black */
  border: 2px ;
  border-top:solid;   
  border-left:solid;   
  border-right:solid;   
  border-bottom:solid;   
}


/* Sample Msg */
tr.jsuSampleMsg
{
  background-color: #E5F9FD;  
}


/* Sample Msg */
table.jsuSampleMsg
{
  color: #000000; /* Black */
  border: 0px ;
  background-color: #E5F9FD;  
}

.jsuSampleHea, jsuSampleFooter
{
}


select.bold{
    font-weight: bold;
}

.debug
{
  border-style: dotted;
  border-width: 4px ; /* Top left bottom right*/
  background: #FFFF00; 
  border-color: #EEC900; /* Same color of  jsAlertTblMsgWarn */
  display: none; 

}


