
/* 
========================================================================================= <BR/> 
<b>File:</b>      core/jsu.css <BR/>
<b>Author:</b>        <a href="https://www.linkedin.com/in/federicolevis" target="_blank">Federico Levis</a> <BR/>
<b>JSU API Doc:</b> <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/JSUAPI.html" target="_blank">JSU API Documentation</a> <BR/>
<b>Description:</b>     CSS for JSU CORE Features <BR/>   
<b>First Version:</b>     ver 1.0 - Feb 2014  <BR/>
<b>Current Version:</b>   ver 3.3 - Jul 2016  <BR/>
<b> NOTE:</b> The url path points to https://raw.github.com/FedericoLevis/JSU/master/images/ <BR/>
If you want to use the local jsu/images directory (e.g. to modify images) you have to replace all  <BR/>
    https://raw.github.com/FedericoLevis/JSU/master/images/     <BR/>
  with          <BR/>
    ../images         <BR/>

<BR/>-----------------------------------------------------------------------------------<BR/>
<b>DISCLAIMER</b>  <BR/>
Copyright by Federico Levis - <a href="https://github.com/FedericoLevis/JSU" target="_blank">JSU</a> <BR/> 
This file may be freely distributed under the MIT license.   <BR/>
========================================================================================= <BR/> 
*/



/*----------------------------------------------------
Tooltip: Tip with info image
---    
<b>CSS:</b>  ``input.jsuInfo``  used with JSU Tooltip API Tip() UnTip()  
   - <b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>
<BR/><BR/><b>Examples:</b>
```html
<input class="jsuInfo" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"/>
```
*/
input.jsuInfo{ /* Info img  */
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/info.png') no-repeat center center;
  background-color: #19E4DD;
  height: 14px;
  width: 5px;
  margin-left: 2px; 
  cursor: pointer;
  border: 1px solid #000;
}



/*---
Tooltip: Tip with info Question Mark
---
<b>CSS:</b> ``img.jsuTip`` ``input.jsuTip``  usually used with JSU Tooltip API Tip() UnTip()  
   - <b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>
<BR/>For cross browser compatibility we recommend using input.jsuInfo. img.jsuInfo can be used  only in IE. 
<BR/><BR/><b>Examples:</b>
```html
<input class="jsuTip" type="button"   onmouseover="Tip('Example of Tip')"   onmouseout="UnTip(event)"/>
```

*/
img.jsuTip, input.jsuTip{
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/tip.png') no-repeat center center;
  height: 20x;
  width: 20x;
  marging-left: 5px;
}





/*---
Tooltip: button for TipFix 
---
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>

```html
<b>JSU Tip button :</b> <ul>
 <li> tipFix button with '?' and Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFix</b>  <input type="button" class="tipFix"/> &nbsp;&nbsp; 
     <b>input.tipFixUp</b>  <input type="button" class="tipFixUp" />
 </li><BR/>
 <li> tipFix button with 'JS' and Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFixJS</b>  <input type="button" class="tipFixJS"/> &nbsp;&nbsp; 
     <b>input.tipFixJSUp</b>  <input type="button" class="tipFixJSUp" />
 </li><BR/>
 <li> tipFix button with 'Code' and Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFixCode</b>  <input type="button" class="tipFixCode"/> &nbsp;&nbsp; 
     <b>input.tipFixCodeUp</b>  <input type="button" class="tipFixCodeUp" />
 </li><BR/>
 <li> tipFix button with Arrow Down/Up: &nbsp;&nbsp;   
     <b>input.tipFixArrow</b>  <input type="button" class="tipFixArrow"/> &nbsp;&nbsp; 
     <b>input.tipFixArrowUp</b>  <input type="button" class="tipFixArrowUp" />
 </li><BR/>
 <li> JSU help Button: &nbsp;&nbsp;  
     <b>input.jsuHelp</b>  <input type="button" class="jsuHelp"/>
 </li>
</ul> 
```
*/

input.tipFix, input.tipFixUp{  /* Fields Common for input.tipFix and input.tipFixUp */ 
    height: 20px;
    width: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3px; 
    margin-right: 3px; 
    cursor: pointer;
}
input.tipFix{ /* Specific filed of input.tipFix */
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFix.png) no-repeat center center;
}
input.tipFixUp{ /* Specific filed of input.tipFixUp : different image */
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixUp.png) no-repeat center center;
}

input.tipFixJS, input.tipFixJSUp{
    height: 21px;
    width: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px; 
    cursor: pointer;
}
input.tipFixJS{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixJS.png) no-repeat center center;
}
input.tipFixJSUp{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixJSUp.png) no-repeat center center;
}

input.tipFixCode, input.tipFixCodeUp{
    height: 28px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px; 
    cursor: pointer;
}
input.tipFixCode{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixCode.png) no-repeat center center; 
    /* background: #E0E0E0 url(../images/tipFixCode.png) no-repeat center center; */
}
input.tipFixCodeUp{
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixCodeUp.png) no-repeat center center; 
    /* background: #E0E0E0 url(../images/tipFixCodeUp.png) no-repeat center center; */ 
}


input.tipFixArrow, input.tipFixArrowUp {  /* Common fields  */
    height: 20px;
    padding-right: 30px;
    font-weight: bold;
    cursor: pointer;
}
input.tipFixArrow { /* specific image for tipFixArrow */ 
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixArrow.png) no-repeat right center;
}
input.tipFixArrowUp { /* specific image for tipFixArrowUp */
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/tipFixArrowUp.png) no-repeat right center;
}




input.jsuHelp{	/* Help Button */  
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 0px; 
    background: #E0E0E0 url(https://raw.github.com/FedericoLevis/JSU/master/images/help.png) no-repeat center center;
}


input.tipFix,input.tipFixUp,       /* Border in Normal State */ 
input.tipFixArrow, input.tipFixArrowUp,
input.tipFixJS, input.tipFixJSUp,
input.tipFixCode, input.tipFixCodeUp,
input.googleAnal,
input.googleAnalListJQPopup,
input.googleAnalList, input.googleAnalListUp,
input.jsuHelp
{
    border: 2px solid gray;
    border-style: ridge;
} 


input.tipFix:hover,input.tipFixUp:hover,   /* Border when Mouse is over */ 
input.tipFixArrow:hover, input.tipFixArrowUp:hover,
input.tipFixJS:hover, input.tipFixJSUp:hover,
input.tipFixCode:hover, input.tipFixCodeUp:hover,
input.googleAnal:hover, 
input.googleAnalListJQPopup:hover,
input.googleAnalList:hover, input.googleAnalListUp:hover,
input.jsuHelp:hover 
{
    border: 2px solid #e0e0e0;
    border-style: ridge;
} 




/*---
Tooltip: CSS used directly inside tooltip.js 
---
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/tooltip.js/index.html">JSU Tooltip API Doc</a>
*/

div.ttTitle{  /* default Title */
	/* background-color: #606060!important;  /* dark gray */
  background-color: #000000!important;  /* Black*/
  border-width:3px;
  border-style:solid;
  border-color:black;
}	

.ttClose {   /* for close button on Top Right */
  color: #000000 !important;
/*   font-family: Calibri !important; */
  font-family: "Arial Black", Gadget, sans-serif !important;
  font-weight: bold !important ;
  font-size: 13px !important;
  background-color: #D4D4D4 !important;  /* dark gray */
  color: #000000 !important;
  border-radius: 5px;  
  border-width:2px;
  border-style:solid;
  border-color:#C0C0C0;
    
 }

.ttClose:hover {
	background-color: #E0E0E0 !important;  /* dark gray */
  color: #404040 !important;
  border-color:#A0A0A0;
}


 

/*---
Tooltip: CSS for tip table 
---
*/

table.tip, table.jsuHeader, table.jsuFooter {
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: black; 
	background-color: #ffffff;
	/* White Gray: default backgound, used for Td */
	border: 3px solid #858585; /* Dark Gray */
	border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px; 	
}

table.tipNoBorder,table.jsuHeaderNoBorder,table.jsuFooterNoBorder {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; /* Black */
  background-color: #ffffff;
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 5px;  
}


table.jsuHeaderNoBorder,table.jsuFooterNoBorder {  
    border-spacing: 1px;  
  }


tr.tipTitle,th.tipTitle, tr.tipTitleBig,th.tipTitleBig {
  background-color: #0033FF; /* Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  border: 0px;
  font-family: Verdana;
  font-weight: bold;
}

tr.tipTitle,th.tipTitle{
  font-size: 9pt;
  padding: 2px;
}
tr.tipTitleBig,th.tipTitleBig{
  font-size: 13pt;
}

.tipTitleVeryBig{
  font-size: 30pt;
  font-weight: bold;  
}



label.tipTitle {
  font-family: Verdana;
  font-weight: bold;	
	font-size: 10pt;
}

label.tipTitleBig {
  font-family: Verdana;
  font-weight: bold;	
	font-size: 16pt;
}

tr.tipTitle2,th.tipTitle2, tr.tipTitleBig2,th.tipTitleBig2 {
  background-color: #66B2FF; 
  color: black; 
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-family: Verdana ;
  font-weight: bold ;
  font-size: 9pt ;
}

tr.tipTitle3,th.tipTitle3, tr.tipTitleBig3,th.tipTitleBig3 {
  background-color: #A9C6FC; 
  color: black; 
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 9pt;
}

tr.tipTitleBig2,th.tipTitleBig2,tr.tipTitleBig3,th.tipTitleBig3 {
  font-size: 11pt !important;
}


th.tip,td.tip {
	text-align: center;
	padding: .5em;
	color: #00;
	border: 1px solid #404040; /* Black */
	background-color: #ffffff;
}


th.tip2,td.tip2 { /* for alternate Row BackGround in Rows */
	text-align: center;
	padding: .5em;
	color: #00;
	border: 1px solid #404040; /* Black */
	background-color: #f1f1f1;
}


th.tip { /* Header */
	background: #B8B8B8; /* Gray */
}


th.tipSep { /* Row separator between SubTables*/
	background: #FFFFCC; /* Yellow*/
	height: 8pt;
	border-style: none;
	text-align: left;
	font-weight: normal;
	font-size: 8pt;
	color: #404040;
}

td.tipr, td.tipl, td.tipc, td.tipcBold, td.tiprBold,   td.tipAlr, td.tipOk, , td.tipGood, , td.tipErr{
	padding-right: 5px;
	border: 1px solid #404040; /* Black */
}


.tipc,.tipcBold {
  text-align: center!important;
}

.tipBold,.tipcBold,.tiprBold,.tiplBold{
  font-weight: bold!important;
}

td.tipr,td.tiprBold,div.tiprBold{
	text-align: right !important;
}


td.tipl,td.detl,td.tiplBold,div.tiplBold {
	text-align: left !important;
}

td.tiplNoPad {
	border: 1px solid #404040; /* Black */
	text-align: left;
}

td.tipAlr,label.tipAlr {
	color: #CD3333; /* Red */
	font-weight: bold;
}

td.tipOk,label.tipOk,div.tipOk {
	color: #009900; /* Green */
	/* font-weight: bold; */
}

.tipWarn,.tipWarnBold {
	background: #ffffcc; /* Yellow */
	color: red;
}

.tipWarnBold {
  font-weight: bold; 
}


td.tipNotPresent,label.tipNotPresent{ /* e.g for JSU Feature not present */
  background: black; /
  font-weight: bold;
  color: #ffffcc;
}


td.tipFooter {
	text-align: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 8pt;
	color: #404040;
	background-color: #E8E8E8;
	border: 1px solid #858585;
	border-collapse: collapse;
	border-spacing: 0px;
}


label.tipTitle, td.tipTitle{
  font-weight: bold;
  color: black; 
  text-align: center;
  font-size: 12px;
}


label.tipBlue{ /*  Blue */
  font-family: Verdana;
  font-weight: bold;
  color: blue; 
}



label.tipBrown{ /* Brown Bold */
  font-family: Verdana;
  font-weight: bold;
  color: #8B4513;
  /* background-color: #CCFFFF; */   
}

input.tipBtnClose{
  cursor: pointer;
}	


.tipGood,.tipGoodBold  { /* Good: Green  */
	color: #008B45; /* Dark Green */
}

.tipGoodBold { /* Good: Green and Bold */
  font-weight: bold; 
}


.tipErr,.tipErrBold,.err,.errBold   {
  color: #CD3333; /* Red */
}

.tipErrBold,.errBold   {
	font-weight: bold;
}



a.tipLink{
 font-weight: bold;
 text-decoration: underline; 
 color: blue; // 
}

a.tipLink:hover {
 cursor: pointer;
 color: #1E90FF; // dodgerblue
}


a.tipLinkJsLog, a.tt{  /* to be used in JsLog where background is black, ot in tt (tooltip) */
 font-weight: bold;
 text-decoration: underline; 
 color: #00BFFF; // 
}

a.tipLinkJsLog:hover, a.tt:hover {
 cursor: pointer;
 color:   #00ffff; 
}



table.note, table.tipNote {  /* for the Note (e.g at the bottom of the Google Analytics) */
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  color: black; /* Black */
  /* background-color: #ffffff; */
  /* White Gray: default backgound, used for Td */
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 4px;  
  padding-top: 2px;
  padding-bottom: 8px;
}


td.note,td.tipNote{
  vertical-align: top;
  padding-right:5px;
}	

input.note{ /* Image for the Note */
    height: 18px;
    width: 36px;
    border: 0px ;
    /* DAFARE */
    /* background: white url("https://rawgit.com/FedericoLevis/JSU/master/images/note.png") no-repeat center center; */ 
    background: #FFFFFF url(../images/note.png) no-repeat center center; 
}
input.tipNote{ /* Image for the Note in the Tip */
    height: 18px;
    width: 36px;
    border: 0px ;
    /* DAFARE */
    /* background: white url("https://rawgit.com/FedericoLevis/JSU/master/images/tipNote.png") no-repeat center center; */ 
    background: #FFFFCC url(../images/tipNote.png) no-repeat center center; 
}




a.tipLinkDisabled{
 font-weight: bold;
 text-decoration: underline; 
 color: gray; // 
 pointer-events: none;
 cursor: default;
}



.prettifyCode {  /* Extra class to enphasize, if required, Border color of prettified code */
  border-color: blue !important; 
}	
.prettifyTitle {  /* Extra class to enphasize, if required, Border color of prettified code */
  color: #99ffff !important; 
} 

/*---
Google Analytics button  
---
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/googleAnal.js/index.html">JSU Tooltip API Doc</a>

```html
<b>JSU GoogleAnalytics buttons :</b> <ul>
 <li> tipFix button to show a Box with a List of Google Analytics URLs: <BR/>   
     <b>input.googleAnalList</b>  <input type="button" class="googleAnalList"/> <BR/> 
     <b>input.googleAnalListUp</b>  <input type="button" class="googleAnalListUp" />
 </li><BR/>
 <li> button to Go to the Page of Google Analytics:  
     &nbsp;&nbsp; <b>input.googleAnal</b>  <input type="button" class="googleAnal"/>  
 </li><BR/>

</ul> 
```
*/

input.googleAnalList, input.googleAnalListUp {  /* Button for Google Analytics: show TipFix with List of URLs to go to GoogleAnalytics */
    height: 24px;
    width: 225px;
    border: 2px solid gray;
    border-style: ridge;
    cursor: pointer;
}
input.googleAnalList {
   background: #FEFEFE url(https://raw.github.com/FedericoLevis/JSU/master/images/googleAnalList.png) no-repeat center center; 
}
input.googleAnalListUp {
   background: #FEFEFE url(https://raw.github.com/FedericoLevis/JSU/master/images/googleAnalListUp.png) no-repeat center center; 
}


input.googleAnalListJQPopup {  /* Like googleAnalList but in a JQPopup insyead of TipFix*/
    height: 24px;
    width: 225px;
    border: 2px solid gray;
    border-style: ridge;
    cursor: pointer;
    background: #FEFEFE url(https://raw.github.com/FedericoLevis/JSU/master/images/googleAnalListJQPopup.png) no-repeat center center; 
}


input.googleAnal{  /* Button to show 1 page with Google Analytics  */
    height: 23px;
    width: 27px;
    cursor: pointer;
    margin-left: 2px; 
   background: #FEFEFE url(https://raw.github.com/FedericoLevis/JSU/master/images/googleAnal.png) no-repeat center center;
}


/*---
LoadinDiv API: CSS used in loadingDiv.js 
---
<b>API: loadingDivStart loadingDivUpdate loadingDivEnd </b>
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/util.js/index.html">JSU LoadingDiv API Doc</a>
<b>CSS:</b> <ul>
 <li>``div.loadingDivContainer``   The Main DivContainer </li>
 <li>``div.loadingDiv``   The loadingDiv in The Middle of the Page, with the Border </li>
 <li>``div.loadingDivContainer``   The Main DivContainer </li>
 <li>``table.loadingDiv``   The Main loadingDiv Table </li>
 <li>``div.loadingDivGif`` /The Loading Gif on the Left in the Box </li>
 <li>...
</ul> 

<BR/><b>Examples:</b>
```html
<div id="loadingDivContainer" class="loadingDivContainer" >  
  <table width="100%" height="100%">  
    <tr> <td align="center">  
      <div  id="loadingDiv" class="loadingDiv">  
         <table id="loadingDivTable" class="loadingDiv" width="100%"  style="z-index: 110;">  
            <tr class="loadingDivTitle">  
              <td colspan="2" id="loadingDivTitle" class="loadingDivTitle" >Title Test</td>  
            </tr>  
            <tr>   
              <td id="loadingDivTdGif" align="left" width="80px">  
                <div id="loadingDivGif" class="loadingDivGif" > </div>  
              </td>   
              <td id="loadingDivMsg" class="loadingDivMsg" align="left" style="padding-left:0px">  
                 <b>Working</b></BR>Please Wait...  
              </td>  
            </tr>  
            <tr>  
               <td colspan="2" align="center" class="loadingDivBtn" id="loadingDivBtnTd"  >  
                 <input type="button" class="loadingDivBtn" id="loadingDivBtn" value="Stop" onclick="loadingDivCancel();" />  
               </td>  
            </tr>  
            <tr>  
               <td colspan="2" id="loadingDivFooter" class="loadingDivFooter">  
                 Elapsed Time: 10 sec  
               </td>  
            </tr>  
        </table>  
      </div>  
    </td> </tr>  
  </table>  
</div> 
```

*/


div.loadingDivContainer { /* The Main DivContainer that cover the Window*/
  progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
  height: 110%;  /* DEFAULT */
  width: 110%; 
  z-index: 100; 
  background-color: white;
  position: absolute; 
  top:0px; 
  left: 0px;  
  z-index: 100;
}

/* Overlays TEST */
div.overlayTest { /* The Main DivContainer that cover the Window*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30); /* support: IE8 */
}  




div.loadingDiv{ /* The loadingDiv in The Middle of the Page, with the Border  */
  z-index: 101;
  width: 300px; 
  border-style:groove;
  border-width:5px;
  background-color: #EBEBEB; 
  display: block;
  z-index: 101;
}



table.loadingDiv{ /* The Main loadingDiv Table  */
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-size: 13px;
  color: black; /* Black */
  background-color: #EBEBEB;
  border: 0px; 
  border-collapse: collapse;
  border-spacing: 0px;  
  z-index: 102;
}	

tr.loadingDivTitle {
  background-color: #0033FF; /* Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

td.loadingDivTitle {
	border-bottom: 2px solid black;  
}

td.loadingDivMsg{
  color: blue; /* Black*/
  text-align: left;
  font-size: 12px;
}


td.loadingDivBtn {
	padding-top: 10px;
  padding-bottom: 10px; 
}


td.loadingDivFooter { /* Footer with Elapsed sec */
	padding-left: 5px;
	border-top: 1px solid black;  
  background-color: #BABABA; 
  color: black; /* Black */
}

div.loadingDivGif{ /* The Loading Gif on the Left in the Box */
  width: 110px;
	height: 110px;
	background: url('https://raw.github.com/FedericoLevis/JSU/master/images/Disk.gif') no-repeat center center;
	z-index: 110;  
}



/*---
Popup API (IEPopup or JQPopup) 
---
<b>CSS:</b> ``td.PopupImgInfo``, ``td.PopupImgWarning``, ``td.PopupImgError``,...  
<BR/><b>Examples:</b>
```html
<table><tr><td class="PopupImgInfo" width="50px" height="50px" ></td></tr><table>
<table><tr><td class="PopupImgWarning" width="50px" height="50px" ></td></tr><table>
<table><tr><td class="PopupImgError" width="50px" height="50px" ></td></tr><table>
<table><tr><td class="PopupImgConfirm" width="50px" height="50px" ></td></tr><table>
<table><tr><td class="PopupImgQuestion" width="50px" height="50px" ></td></tr><table>
<table><tr><td class="PopupImgChoice" width="50px" height="50px" ></td></tr><table>
```
*/


td.PopupImgInfo { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupInfo.png') center center no-repeat;
}
td.PopupImgWarning { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupWarning.png') center center no-repeat;
}
td.PopupImgError { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupError.png') center center no-repeat;
}
td.PopupImgConfirm { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupConfirm.png') center center no-repeat;
}
td.PopupImgQuestion, td.PopupImgPrompt { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupQuestion.png') center center no-repeat;
}
td.PopupImgChoice { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupChoice.png') center center no-repeat;
}
td.PopupImgAlarm { 
  background: url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupAlarm.gif') center center no-repeat;
}

/*---
Popup API: Popup Title 
---
<b>CSS:</b> ``td.PopupTitleInfo``, ``td.PopupTitleWarning`` , , ``td.PopupTitleError``, ...
<BR/><b>Examples:</b>
```html
<table class="PopupTitleInfo"><tr><td>Example of Info Title</td></tr></table> <BR/>
<table class="PopupTitleWarning"><tr><td>Example of Warning Title</td></tr></table><BR/>
<table class="PopupTitleError"><tr><td>Example of Error Title</td></tr></table><BR/>
<table class="PopupTitleConfirm"><tr><td>Example of Confirm Title</td></tr></table><BR/>
<table class="PopupTitleQuestion"><tr><td>Example of Question Title</td></tr></table><BR/>
<table class="PopupTitleChoice"><tr><td>Example of Choice Title</td></tr></table><BR/>
```
*/

table.PopupTitleInfo, table.PopupTitleError, table.PopupTitleWarning, table.PopupTitleConfirm, table.PopupTitleQuestion, table.PopupTitleChoice  
{
  border: 0px ; /* No Border */
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
  border-style: solid;
  border-width: 2px 2px 0px 2px; /* Top left bottom right*/
}

td.PopupTitle
{
	padding-top: 2px;   
	padding-bottom: 2px;   
}

.PopupTitleInfo, .PopupTitleChoice{  /* Particular Setting for Info and Choice */
	font-family: Arial;
	font-size: 15px;
  text-align: center;
	font-weight: bold;
	color: black; /*  */
  border-color: #1874CD; /* Same color of  PopupTblMsgInfo */
  background-color: #AFEEEE; /*  For Browser that do no support linear-gradient */
  background-color: linear-gradient(#AFEEEE, #63B8FF); /* Standard syntax (must be last) */
}

.PopupTitleWarning{
	font-family: Arial;
	font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: black; 
  background-color: #FFFF00; 
}

.PopupTitleError, .PopupTitleAlarm{
	font-family: Arial;
	font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white; 
  background-color: red; 
}
.PopupTitleConfirm{
	font-family: Arial;
	font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: black; 
  background-color: #90EE90; /*  For Browser that do no support linear-gradient */
  background-color: linear-gradient(#90EE90, #00FF7F); /* Standard syntax (must be last) */
}
.PopupTitleQuestion, .PopupTitlePrompt{
	font-family: Arial;
	font-size: 15px;
  text-align: center;
  font-weight: bold;
	color: black; 
  background-color: #AFEEEE; /*  cyan  For Browser that do no support linear-gradient */
  background-color: linear-gradient(#AFEEEE, #63B8FF); /* Standard syntax (must be last) */
}

/*---
Popup API: table.PopupTblMsgXXX - Popup Msg Section 
---
<b>CSS:</b> ``table.PopupTblMsgInfo``, ``table.PopupTblMsgWarning``,  ``table.PopupTblMsgError`` ...
<BR/><b>Examples:</b>
```html
<table class="PopupTblMsgInfo"><tr><td>Example of Info Message</td></tr></table> <BR/>
<table class="PopupTblMsgWarning"><tr><td>Example of Warning Message</td></tr></table><BR/>
<table class="PopupTblMsgError"><tr><td>Example of Error Message</td></tr></table><BR/>
```
*/
table.PopupTblMsgInfo, table.PopupTblMsgError, table.PopupTblMsgWarning, table.PopupTblMsgConfirm, 
table.PopupTblMsgQuestion, table.PopupTblMsgPrompt, table.PopupTblMsgChoice, table.PopupTblMsgAlarm  
{
  color: #404040; /* Black */
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0px;
}

table.PopupTblMsgInfo, table.PopupTblMsgChoice{ /*  Border around the TblMsg Table for Info, Choice   */
  border: 2px solid #1874CD; /* Blue*/
}
table.PopupTblMsgQuestion, table.PopupTblMsgPrompt{
  border: 2px solid Black; /* Black*/
}
table.PopupTblMsgConfirm{
  border: 2px solid #009900; /* Green*/
}

table.PopupTblMsgWarning{
  border: 2px solid #EEC900; /* Yellow*/
} 
table.PopupTblMsgError, table.PopupTblMsgAlarm{
  border: 2px solid #8B0000 /* Red*/
} 


table.PopupMsg  {  /* Table with only the Msg (no Img) */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

td.PopupMsg{
  text-align: left;
}	

/*---
Popup API: PopupPrompt - Prompt with Label & Input 
---
<b>CSS:</b> ``td.PopupPrompt`` used for POPUP_TYPE.PROMPT
*/
td.PopupPrompt
{
  color: black; /* Black */
  background-color: #ffffff;
  border: 0px ; /* No Border */
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: left;
  margin-bottom: 15px;
}

label.PopupPrompt
{
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}	

input.PopupPrompt, input.PopupPromptError
{
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  width: 200px;
}

/*---
input.PopupPromptError: Prompt Input Error 
---
<b>CSS:</b> ``input.PopupPromptError`` used for POPUP_TYPE.PROMPT. When there is a validation Erroror, show an alarm gif on the right of the input
<BR/><b>Examples:</b>
```html
<input class="PopupPromptError" width="20px" />
```
*/
input.PopupPromptError
{
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/PopupValidationError.gif') no-repeat right center;
  background-size: contain;
  z-index: 1000;
}

/*---
Popup API: PopupPromptError - Validation Error Label 
---
<b>CSS:</b> ``label.PopupPromptError`` used for POPUP_TYPE.PROMPT in case of Validation Error
*/
label.PopupPromptError
{
  color: red; 
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  width: 200px;
  display: none;
}


/*---
Popup API: PopupChoice 
---
<b>CSS:</b> ``td.PopupChoiceSingle``, ``td.PopupChoiceMulti`` used for POPUP_TYPE.CHOICE 
*/
td.PopupChoiceSingle,td.PopupChoiceMulti 
{
  color: #404040; /* Black */
  background-color: #ffffff;
  border: 0px ; /* No Border */
  border-collapse: collapse;
  border-spacing: 0px;
	text-align: left;
	margin-bottom: 15px;
}

fieldSet.PopupChoiceMulti 
{
	margin-top: 10px;
  border: 1px solid black;
}	

label.PopupChoiceSingle,legend.PopupChoiceMulti
{
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
}	

select.PopupChoiceSingle, select.PopupChoiceMulti 
{
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
} 

.PopupDialog{  /* you can set desired values here if required */
}	


a.Popup, a.ui-widget-content { /*   Used for SelectAll DeselectAll   or other URL. NOTE: we also overwrite a.ui-widget-content */
 font-weight: bold;
 font-size: 13px;
 text-decoration: underline; 
 color: blue; // 
}

a.Popup:hover {
 cursor: pointer;
 color: #1E90FF; // dodgerblue
}



input.PopupBtn{ /* Button OK */
  font-family: Arial;
	font-weight: bold !important;
  font-size: 14px !important;
	width: 100px;
	margin-top:10px !important;
	margin-bottom:10px !important;
  margin-left:20px !important;	
  margin-right:20px !important;
  background-color: #CACACA !important; 
}

input.PopupBtn:hover{
  background-color: #DBDBDB !important; 
  border: 2px solid blue !important;;  
  border-style: ridge !important;; 
}	


body.Popup, html.Popup {
  height: 100%;
  background-color: #BABABA;  /* Gray*/    
}


div.Popup{ /* The container of everything in Dlg: define here the font. */
  width: 100%;
  height: 100%;
	text-align: left;
	font-family: Arial;
	font-weight: normal;
	font-size: 14px;
}

div.PopupBtn{ /* The Last Section with Buttons */
	color: black; 
	background-color: #ECECEC !important;
	width: 100%;
  height : 40px;
  margin-left : 0px;	
  margin-bottom : 2px;	
}

td.Popup{
  text-align: left;
}


table.Popup /* a table that can be used inside Msg */
{
  color: #000000; /* Black */
  background-color: #fcfcfc;
  border: 1px solid #404040; /* Black */  
  border-collapse: collapse;
  border-spacing: 3px;
}


tr.PopupTitle,th.PopupTitle {
	background-color: #0033FF; /* Blue */
	color: #FFFFFF; /* White */
  border: 1px solid #404040; /* Black */  
	text-align: center;
	padding: .5em;
	border: 1px;
	font-weight: bold;
}

th.Popup{
	text-align: center;
	padding: .5em;
  border: 1px solid #404040; /* Black */  
}

td.PopupLeft,td.PopupRight,td.PopupCenter{
	padding-left: 5px;
  border: 1px solid #404040; /* Black */  
}
td.PopupLeft{
  text-align: left;
}
td.PopupRight{
  text-align: right;
}
td.PopupCenter{
  text-align: center;
}



th.PopupHea,td.PopupHea { /* Header */
	background: #B8B8B8; /* Gray */
  border: 1px solid #404040; /* Black */
	text-align: center;
	font-weight: bold;
}


th.PopupSep { /* Row separator between SubTables*/
	background: #FFFFCC; /* Yellow*/
	height: 8pt;
	border-style: none;
	text-align: left;
	color: #404040;
}


/*---
Popup API: .PopupOk, .PopupWarning to enpasize Ok, Warning,..
---
<b>CSS:</b> ``td.PopupOk``, ``label.PopupOk``, ``td.PopupWarning``,... 
<BR/><b>Examples:</b>
```html
<label class="PopupOk">Example of .PopupOk</label><BR/>
<label class="PopupWarning">Example of .PopupWarning</label><BR/>
<label class="PopupError">Example of .PopupError</label><BR/>
```
*/


td.PopupOk,label.PopupOk {
	color: #009900; /* Green */
	font-weight: bold;
}

td.PopupWarning, label.PopupWarning {
	background: #FFFFAA; /* Yellow */
	font-weight: bold;
	color: red;
}

td.PopupGood, label.PopupGood { /* to enphasize something very good in Green and Boold */
	font-weight: bold;
	color: #008B45; /* Dark Green */
}

td.PopupError,label.PopupError{
  font-weight: bold;
  color: red; /* */
}





/*---
Validate API 
---
<b>See <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/cValidate.js/index.html">JSU Validate API Doc</a>

<b>CSS:</b> <ul>
 <li>``validateItemMandatory``     Item to validate: Mandatory </li>
 <li>``validateItemErr``     Item to validate: in Error State </li>
 <li>``validateErrLabel``     Error Label displayed on the Right of Item in case of ERROR  </li>
 <li>``div.validateErrSect``     div Section with all the ERRORS </li>
 <li>``label.validateErr``   label in Error State </li>

 <li>...
</ul> 
<BR/><b>Examples:</b>
```html
<input class="validateItemMandatory"  width="300px" value="Example of item.validateItemMandatory"><BR/><BR/>
<input class="validateItemErr"  width="300px" value="Example of item.validateItemErr">
<label class="validateErrLabel" style="display:inline;" width="300px">Example of label.validateErrLabel</label>
```
*/


.validateErrSect{ /* div Section with all the ERRORS  */
  border: 5px solid red;
  border-style: ridge; 
  color: red;
  display: none; /* default */
  text-align: left;
} 



label.validateErr{ /* item in error State  */
  border: 2px solid red;
  color: red;
} 

input.validateInfo{ /* Info img  */
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/info.png') no-repeat center center;
  background-color: #19E4DD;
  height: 14px;
  width: 5px;
  margin-left: 2px; 
  cursor: pointer;
  border: 1px solid #000;
}


.validateItemMandatory{ /* Item to validate: Mandatory */
  border: 2px solid black;
} 


.validateItemErr{ /* Item to validate: in Error State */
  border: 2px solid;
  border-color: red !important
} 


.validateErrLabel{ /* Error Label displayed on the Right of Item in case of ERROR   */
   color: red;
   font-style: italic;   
   font-weight: normal;
   margin-left: 5px;   
   display: none;  // Default: not Visible
}



.validateErrPopup{ /* Error Label in Popup*/
  font-weight: normal;
  color: red; /* */
}





/*---
JSLog API 
---
<b>CSS:</b> <ul>
 <li>``h3.jslog`` `Header with Btn </li>
 <li>``div.jslogFooter``  Footer with Btn </li>
 <li>...
</ul> 
*/


h3.jslog{ /* Header with Btn */
  background:  #ccc;
  color : #000;
  cursor:  pointer;
  font-size:  14px;
  font-weight:  bold;
  margin:   0 0 2px;
  lineHeight: 14px;
}	



div.jslogFooter{ /* Footer with Btn */
  font-size:  12px;
  /* textTransform = uppercase; */
  font-weight:  bold;
  margin:   0 0 2px;
  lineHeight: 14px;
  position: absolute;
  bottom: 1px;
  left: 1px;
} 

.jslogButton{
  cursor: pointer;
  font-size:  12px;
  font-weight:  bold;
  padding: 0 5px;     		
}	

label.jslogHeader {
  font-weight: bold;
  margin-left: 10px;
}

label.jslogFooter{
  font-weight: bold;
  margin-left: 20px;
  color: white;
}


select.jslog {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
}



/*---
JSU core: Detail table (e.g GoogleAnalytics) 
---
<b>CSS:</b> <ul>
 <li>``table.det`` Detail table with border</li>
 <li>``table.detNoBorder``  Detail table with border </li>
 <li>...
</ul> 
*/


table.det {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; 
  background-color: #ffffff;
  border: 3px solid #858585; /* Dark Gray */
  border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px;  
}

table.detNoBorder {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: black; /* Black */
  background-color: #ffffff;
  border: 0px; /*  */
  border-collapse: separate;
  border-spacing: 5px;  
}


tr.detTitle,th.detTitle, td.detTitle, tr.detTitleBig,th.detTitleBig { /* Detail Table (e.g GoogleAnalytics */
  background-color: #606060; 
  border: 2px solid #858585; /* Dark Gray */
  color: #FFFFFF; /*#CCFFFF cyan */
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
}

tr.detTitle,th.detTitle{
  font-size: 10pt;
  padding: 2px;
}
tr.detTitleBig,th.detTitleBig{
  font-size: 12pt;
}

.detTitleVeryBig{
  font-size: 20pt;
  font-weight: bold;  
}

tr.detTitle2,th.detTitle2, tr.detTitleBig2,th.detTitleBig2 {
  background-color: #D4D0D0; /* Gray Clear */
  color: black; 
  text-align: center;
  padding: 2px;
  border: 2px solid #858585; 
  font-family: Verdana;
  font-weight: bold;
  font-size: 10pt;
}

tr.detFilter,th.detFilter { /* e.g. Header2 with Filter in GoogleAnalytics */  
  background-color: #D4D0D0;  /* Gray Clear */
  color: black; 
  text-align: center;
  padding: 0px;
  border: 2px solid #858585; 
  font-family: Verdana;
  font-weight: bold;
  font-size: 9pt;
}

tr.detSep, th.detSep,td.detSep { /* Row separator between SubTables*/
  height: 1px;
  border-style: none;
  border: 0px; 
  padding: 0px;
  border-collapse: separate;
  font-size: 1px;
}


td.googleAnalFooter, label.googleAnalFooter {
  font-weight: italic !important;
  font-family: Calibri;
  font-size: 11pt;
} 

select.detFilter,td.detFilter{  /* e.g.: Filter in GoogleAnalytics */
  background-color: #D4D0D0;  /* Gray Clear */
  /* background-color: #CCFF99; */  /* Green Clear */
  padding: 0px;
  color: #000000; 
  font-weight: bold;
  font-family: Calibri;
  font-size: 11pt;
  border: 1px solid blue; /* Black */
  
} 

tr.detFooter, td.detFooter {
  text-align: left;
  font-family: Verdana;
  font-weight: normal;
  font-size: 10pt;
  color: #0000CC;
  border: 2px solid #858585; /* Dark Gray */
  background-color: #CCFFFF;
  /* border-collapse: collapse;
  border-spacing: 0px; */
}


/*---
JSU core - util.js: .jsuAlarmingEl alarm for el   
---
<b>CSS:</b> ``input.jsuAlarmingEl``   see API <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/util.js/global.html#alarmShowIn1El">util.js alarmShowIn1El()</a> 
<BR/><b>Examples:</b>
```html
<input class="jsuAlarmingEl" width="100px" value="Example of value" />
```
*/
.jsuAlarmingEl {
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/alarming.gif') no-repeat right center;
  background-size: contain;
  z-index: 1000;
}

/*---
JSU core util.js: .jsuAlarmingEl  alarm img near a select   
---
<b>CSS:</b> ``img.jsuAlarmingImg``  used for select (added on the right and show/hide) 
<BR/><b>Examples:</b>
```html
<img class="jsuAlarmingImg"/>
```
*/
img.jsuAlarmingImg {
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/alarming.gif') no-repeat;
  background-size: contain;
  height: 26px;
  vertical-align: text-top;
}

  
/*---
JSU core util.js: .jsuLoadingEl Loading for el   
---
<b>CSS:</b> ``input.jsuLoadingEl``   see API <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/util.js/global.html#loadingShowIn1El">util.js loadingShowIn1El()</a>
<BR/><b>Examples:</b>
```html
<input class="jsuLoadingEl" width="100px" value="Example of value" />
```
*/
.jsuLoadingEl {
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/FillingRing.gif') no-repeat right center;
  background-size: contain;
  z-index: 1000;
}

/*---
JSU core util.js Loading Gif with FillingRing 
---
<b>CSS:</b> ``div.jsuLoading``   see API <a href="https://rawgit.com/FedericoLevis/JSUDoc/master/util.js/global.html#loadingShow">util.js loadingShow()</a>
<BR/><b>Examples:</b>
```html
<div class="jsuLoading" width="200px" />
```
*/
div.jsuLoading {
  background:url('https://raw.github.com/FedericoLevis/JSU/master/images/FillingRing.gif') no-repeat center center;
  /* background-size: contain; */
   height: 80px;  
   /*  
  progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
  height: 100%; 
  width: 100%; 
  z-index: 100; 
  background-color: white; 
  position: absolute; 
  top:0px; 
  left: 0px;
  */  
}



/*---
prettify-jsu  JSU FEATURE to Hightlight Code
---
*/



/* ---
 prettify-jsu: plain text
---
*/
.pln {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: string content
---
*/
.str {
  color: blue;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: a keyword
---
*/
.kwd {
  color: red;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: a comment
---
*/
.com {
  color: #006633;
  font-weight: normal;
  font-style: italic;
}

/* ---
 prettify-jsu: a type name
---
*/
.typ {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: a literal value
---
*/
.lit {
  color: #6600CC;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: punctuation
---
*/
.pun {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: lisp open bracket
---
*/
.opn {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: lisp close bracket
---
*/
.clo {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: a markup tag name
---
*/
.tag {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: a markup attribute name
---
*/
.atn {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: a markup attribute value
---
*/
.atv {
  color: #006400;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: a declaration
---
*/
.dec {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: a variable name
---
*/
.var {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

/* ---
 prettify-jsu: a function name
---
*/
.fun {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

/* ---
 prettify-jsu: Specify class=linenums on a pre to get line numbering
---
*/
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

.clear
{
    clear: both;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details { margin-top: 14px; border-left: 2px solid #DDD; }
.details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 70px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

.description {
    margin-bottom: 1em; 
    margin-top: 1em; 
}

.code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

/* ---
 prettify-jsu: The Div
*/
.prettyprint
{
    border: 0px;
    width: 100%;
    overflow: no;  /* ---
 prettify-jsu: auto
---
*/
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line
{
  display: inline-block;
}

.prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol
{
  padding-left: 0;
}

.prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

.prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params, .props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

/* ---
 prettify-jsu: JSU font
---
*/
div.prettyfy{
    font-size: 13px;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td, .params th, .props td, .props th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr, .props thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

.params th, .props th { border-right: 1px solid #aaa; }
.params thead .last, .props thead .last { border-right: 1px solid #ddd; }

.params td.description > p:first-child,
.props td.description > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}


